<div class="add-artwork" (window:resize)="onResize($event)">
  <div class="artwork-bg">
    <div class="container-fluid" [style.width.%]="formWidth">
      <div class="artwork-form py-5">
        <form #firstForm="ngForm">
          <div class="artwork-type">
            <div class="card p-3 mt-3">
              <div class="form-group">
                <label>Browse a photograph or video to submit</label>
                <input type="file" id="file" class="form-control" #userPhoto (change)="onFileSelected($event)"
                  name="image" autocomplete="off" />
                <small class="help-text">Select a photo or video from your device</small>
              </div>
            </div>
          </div>
          <div class="card p-3 mt-3">
            <div class="form-group">
              <input type="file" id="file" class="form-control" #userPhoto (change)="onSubjectConsentSelected($event)"
                name="image" autocomplete="off" />
              <small class="help-text">Please download, fill and upload the consent form</small>
              <div class="pdf-consent hand p-2 mt-3 d-flex" (click)="downloadConsentForm()">
                <img src="assets/images/pdf.png" alt="">
                <p class="m-2">Download the participant consent and release form</p>
              </div>
            </div>
          </div>
          <div class="move mt-3">
            <button class="btn" mat-button (click)="onSubmit()">Next</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
