<div class="call" (window:resize)="onResize($event)">
  <div class="landing">
    <div class="container py-5">
      <div class="row">
        <div class="info">
          <h3 [style.font-size.em]="headingSize">AFRICAN RESILIENCE IN THE WAKE OF A PANDEMIC</h3>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="accordion-action-buttons my-4">
      <button class="btn mx-3" (click)="accordion.openAll()">Expand All</button>
      <button class="btn mx-3" (click)="accordion.closeAll()">Collapse All</button>
    </div>
    <mat-accordion class="accordion-headers-align" multi>
      <mat-expansion-panel hideToggle="true" #rules>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h4>HOW TO PARTICIPATE</h4>
          </mat-panel-title>
        </mat-expansion-panel-header>


        <div class="guidelines">
          <div class="rules">
            <div class="container">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 py-5">
                  <img src="assets/images/gallery/sample/picture15.png">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 py-5">
                  <h3>HOW TO PARTICIPATE</h3>
                  <hr class="hr-rule mt-1">
                  <ol class="px-2">
                    <li>Each entrant must fill and submit an online registration form prior to submitting either of;
                      <ul>
                        <li>no more than two photographs</li>
                        <li>a one minute (60 seconds) video</li>
                      </ul>
                    </li>
                    <li>All entries must be submitted directly on the website, <a
                        href="https://africanartincontext.com/">africanartincontext.com</a>, using the
                      <strong>Submit</strong>
                      button. Each entrant may submit a maximum of two photographs OR a video that is no more than one
                      minute (60 seconds) long. Entrants may not submit both photo and video content. </li>
                    <li>Entrants must own the copyright and must have taken the photographs/videos themselves. They
                      may have
                      been
                      taken at any time prior to the start of the Campaign.</li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel hideToggle="true" #submission>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h4>SUBMISSION FORMAT</h4>
          </mat-panel-title>

        </mat-expansion-panel-header>

        <div class="submission">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 py-5">
                <div class="format">
                  <h3>SUBMISSION FORMAT</h3>
                  <hr class="hr-rule mt-1">
                  <ol class="p-2">
                    <li>Photographs must be submitted in <strong>.jpeg</strong> and <strong>.png</strong> format. Photos
                      should be
                      submitted with
                      the highest quality possible regarding file size, bit depth and resolution. Both colour and/or
                      black
                      and
                      white
                      images will be accepted.</li>
                    <li>Videos must be submitted in <strong>.mp4</strong> and <strong>.mov</strong> format. They may not
                      exceed 1
                      minute in run-time. Videos should
                      be submitted with the highest quality possible regarding file size, bit depth and resolution.</li>
                    <li> The material must not constitute copyright infringement or otherwise violate or infringe
                      Mastercard
                      Foundation or third party rights, including but not limited to trademark, privacy, publicity or
                      other
                      intellectual property rights.</li>
                    <li>The submission must not contain dates, texts, brand names, logos and/or trademarks.</li>
                    <li>The submission description and captions must be in English or contain English translations.</li>
                    <li>Filmmaker must have rights to use any soundtrack (music bed), sound-effects and any
                      graphic/animation
                      assets.</li>
                  </ol>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 py-5">
                <div class="row pr-3">
                  <div class="col-md-12 pr-0 pl-0 mt-3">
                    <img src="assets/images/gallery/sample/mwalimu.png">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="row pr-3">
                <div class="col-md-6 pr-0 mt-3">
                  <img src="assets/images/gallery/sample/picture3.png">
                </div>
                <div class="col-md-6 pr-0 mt-3">
                  <img src="assets/images/gallery/sample/picture10.png">
                </div>
              </div>
            </div>            
          </div>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel hideToggle="true" #criteria>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h4>SELECTION CRITERIA AND SELECTION PROCESS</h4>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="container">
          <div class="criteria mt-5">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 py-5">
                <div class="criteria-title">
                  <h3>SELECTION CRITERIA</h3>
                  <hr class="hr-rule mt-1">
                  The finalists will be selected based on the
                  following criteria:
                </div>
                <div class="criteria-points">
                  <p>Creativity/Originality</p>
                  <p>Informational Content/Relevance to Theme</p>
                  <p>Technical Proficiency (colour, lighting, and focus)</p>
                  <p> Artistic and Visual Impact</p>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 py-5">
                <div class="card">
                  <img src="assets/images/gallery/sample/picture13.jpg" alt="">
                </div>
              </div>
            </div>
            <div class="selection-info ">
              <div class="container">
                <div class="card my-5">
                  <h3 class="mt-5">SELECTION PROCESS</h3>
                  <hr class="hr-rule mt-1">
                  <p class="text-center mt-3">
                    The finalists will be selected by a panel with different areas of expertise
                    in photography and videography.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel hideToggle="true" #compensation>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h4>RECOGNITION</h4>
          </mat-panel-title>

        </mat-expansion-panel-header>
        <div class="compensation">
          <div class="container p-0">
            <div class="card p-3">
              <h3 class="mt-5">RECOGNITION</h3>
              <hr class="hr-rule mt-1">
              <p>Finalists in the photography category will receive a $100 honorarium, while finalists in the
                videography category will receive $200. Finalists will also be considered by Bobby Pall for future
                training and exhibition opportunities.</p>
            </div>
          </div>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel hideToggle="true" #conditions>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h4>CONDITIONS AND COPYRIGHT</h4>
          </mat-panel-title>

        </mat-expansion-panel-header>
        <div class="container mt-5">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 py-5">
              <img src="assets/images/gallery/sample/picture9.png">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 py-5">
              <h3>CONDITIONS AND COPYRIGHT</h3>
              <hr class="hr-rule mt-1">
              <ol class="px-2">
                <li>Mastercard Foundation respects the rights of the photographers and video-makers’ and does not claim
                  copyright over images/videos submitted to this Campaign. The author retains full copyright in each
                  entry.
                  Whenever the image/video is published, the author will be credited.</li>
                <li>Participation in the Campaign grants Mastercard Foundation permission to exhibit and/or publish the
                  photos/videos, either in part or in their entirety.</li>
                <li>Mastercard Foundation has the right to apply minor changes or amendments without damaging the
                  integrity
                  of
                  the project, e.g. change colours, cut the background or parts of it.</li>
                <li>Mastercard Foundation does NOT own copyright and authors are free to use the photos/videos for other
                  purposes at their choosing.</li>
              </ol>
            </div>
          </div>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel hideToggle="true" #timeline>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h4>THE TIMELINE</h4>
          </mat-panel-title>

        </mat-expansion-panel-header>
        <div class="timeline py-5">
          <div class="container">
            <div class="card">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 py-5">
                  <h3>THE TIMELINE</h3>
                  <hr class="hr-rule mt-1">
                  <div class="timeline-process">
                    <p>Submission opens: 9th October 2020</p>
                    <p>Submission closes: 30th November 2020</p>
                    <p>Shortlisting of the 100 best photos and 25 best videos submissions: 4th December 2020</p>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 py-5">
                  <div class="card">
                    <img src="assets/images/gallery/sample/picture8.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-expansion-panel>

    </mat-accordion>
  </div>

  <div class="terms container py-5">
    <div class="card">
      <h3 class="text-center">PRIVACY POLICY</h3>
      <hr class="hr-rule mt-1">
      <p class="text-center mt-3">
        <strong>Please read the guidelines and rules carefully before submitting your entry</strong>
      </p>
    </div>
    <div class="privacy">
      <div class="mt-3">
        <p>
          This privacy policy applies to everyone who wishes to participate in this Campaign. This privacy
          policy explains how the Organizer will use the submitted personal data, such as names or e-mail
          addresses (Personal Data) and how your privacy will be protected. It is the responsibility of the Organizer
          to
          ensure that your Personal Data is handled with due care. The Organizer will neither sell nor trade your
          Personal
          Data nor infringe your personal rights in any way. If you register to participate in the Campaign, you
          disclose your Personal Data. This Personal Data will only be collected, processed and used for the purpose
          of
          organizing the Campaign, or informing you about the COVID-19 Public Awareness Campaign, or making a payment
          to
          you (if you are selected as a finalist), in accordance with this Privacy Policy.

          The Organizer will not use the contact details for other private or commercial purposes, e.g.
          for promotional purposes especially, but not limited to, unrequested and uninvited advertising by email, or
          to
          be contacted by mail. The Organizer will collect, process and use the Personal Data provided in the
          Registration
          Form and Payment Details Form.

          As a condition of participating in the Campaign, each Entrant gives consent for the Organizer to
          obtain and deliver his or her name, address and other information to third parties for the purpose of
          administering and organizing the Campaign and to comply with applicable laws, regulations and rules.

          The Organizer will comply with all privacy and data protection laws applicable to its processing
          of Personal
          Data.

        </p>
        <h3 class="text-center ">AGREEMENTS, CHANGES TO DATES AND DEADLINES</h3>
        <p>
          These Submission Guidelines and Rules are the only agreement between the Entrant and the
          Organizer, and that
          is why the submission of any entry, within its scope, expresses acceptance by the Entrant of the
          terms and
          conditions stipulated herein.

          The deadlines and dates set out in these Submission Guidelines and Rules may be amended by
          decision of the
          Organizer. Any change will be notified through the website: <a
            href="https://africanartincontext.com/">africanartincontext.com</a>
        </p>
      </div>
    </div>
  </div>

  <div class="call-photos pb-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 pr-0 mt-3">
          <img src="assets/images/gallery/sample/picture3.png">
        </div>
        <div class="col-md-6 pr-0 mt-3">
          <img src="assets/images/gallery/sample/picture10.png">
        </div>
      </div>
    </div>
  </div>

</div>
