<div class="create p-3">
  <div class="container-fluid p-0">
    <div class="card p-3">
      <div class="add-files">
        <div class="row mb-3">
          <div class="col-md-9">

          </div>
          <div class="col-md-3">
            <div appDnd (fileDropped)="onFileDropped($event)">
              <input type="file" #fileDropRef id="fileDropRef" multiple
                (change)="fileBrowseHandler($event.target.files)" />
            </div>
            <button class="btn">Upload Artworks</button>
          </div>
        </div>
      </div>
      <div class="added-files">
        <div class="row">
          <div class="col-md-12">
            <div class="single-file">
              <table style="width: 100%;">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Size</th>
                    <th>Type</th>
                    <th>Last Modified</th>
                    <th>Progress</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="info" *ngFor="let upload of uploads; let i = index">
                    <td class="name">
                      <img src="assets/images/icons/photo.svg" width="20px">
                      {{upload?.name}}
                    </td>
                    <td class="size" *ngIf="(upload.bytes | async) as snap">
                        Uploading {{upload.bytes.bytesTransferred }} of {{ upload.bytes.bytesTransferred }}
                    </td>
                    <td class="fileType">
                      {{upload?.type}}
                    </td>
                    <td class="lastmodified">
                      {{upload?.lastmodified}}
                    </td>
                    <td *ngIf="upload.percentage | async as pct">
                      <progress class="progress is-info" [value]="pct" max="100"></progress> {{ pct | number }}%
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- <div class="col-md-2">
            <div class="image">
              <img src="" alt="">
            </div>
            <div class="p-1">
              <hr class="hr-divider">
            </div>
            <div class="details">
              <p class="title">
                {{artwork._title}}
              </p>
              <p class="description">
                {{artwork._description}}
              </p>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
