.call {
  color: black;
  text-align: justify;
  h3{
    text-align: center;
    color: teal;
    
  }
  img {
    width: 100%;
    border-radius: 0.5em;
  }
  .call-landing {
    width: 100%;
    ngb-carousel {
      img {
        width: 100%;
        border-radius: 0px;
      }
    }
   
    .call-theme {
      height: 600px;
      background-image: url('assets/images/gallery/sample/poster6.png');
      background-size: cover;
      background-repeat: no-repeat;
      color: teal;
      h3 {
        font-size: 4em;
      }
    }

  }

  .submission {
    color: black;
    h3 {
      color: teal;
      text-align: center;
    }
    
  }

  .selection {
    color: black;
    h3 {
      color: teal;
      text-align: center;
    }
  }

  .purpose {
    color: black;
    img {
      width: 100%;
    }

    h3 {
      color: teal;
    }
  }

  .rules {
    color: black;
    img {
      width: 100%;
    }

    h3{
      color: teal;
    }
  }

  .process {
    padding-top: 100px;

    img {
      width: 100%;
      border-radius: 0.2em;
    }

    .timeline {
      color: white;

      mgl-timeline {
        mgl-timeline-entry {
          mgl-timeline-entry-header {
            background-color: teal;
            color: white;
          }

          mgl-timeline-entry-side {
            background-color: teal;
          }

          mgl-timeline-entry-dot {
            background-color: teal;
            padding: 5px;
            color: white;
            font-size: 20px;
          }
        }
      }
    }

  }

  .submission {
    padding-top: 100px;
  }

  .selection {
    padding-top: 100px;
  }

  .countries {
    padding-top: 100px;
    color: teal;

    .flags {
      .card {
        border: none;
        width: 150px;
        height: 100px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .contest-requirements {
    margin-top: 100px;
    font-weight: bolder;
  }

  .sponsor {
    color: black;
    text-align: center;

    h3 {
      text-align: center;
      color: teal;
      font-size: 2.5em;
      font-weight: bolder;
    }

    p{
      font-size: 2em;
      font-weight: bolder;
      color: black;
    }

    img {
      margin: 0 auto;
      width: 100px;
    }
  }
}
