.call {
  color: teal;
  .landing {
    width: 100%;
    text-align: center;
    .call-theme {
      color: teal;
      padding-top: 200px;
      h3 {
        font-size: 4em;
        text-align: center;
      }
    }

    img {
      margin-top: 150px;
      width: 100%;
    }

  }

  .call-info {
    .introduction {
      text-align: justify;
    }
  }

  .purpose {
    img {
      width: 100%;
    }
  }

  .rules {
    img {
      width: 100%;
    }
  }

  .process {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;

    img {
      width: 100%;
      border-radius: 0.2em;
    }

    .timeline {
      text-align: center;
      color: white;

      mgl-timeline {
        mgl-timeline-entry {
          mgl-timeline-entry-header {
            background-color: teal;
            color: white;
          }

          mgl-timeline-entry-side {
            background-color: teal;
          }

          mgl-timeline-entry-dot {
            background-color: teal;
            padding: 5px;
            color: white;
            font-size: 20px;
          }
        }
      }
    }

  }

  .countries {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    color: teal;

    .flags {
      .card {
        border: none;
        width: 150px;
        height: 100px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
