.gallery-site {
    .home {
        width: 100%;
        .landing-image {
            width: 100%;
        }
    }

    .about {
        text-align: center;
        margin-top: 5em;
        margin-bottom: 5em;
    }

    .artworks {
        .sample-artworks {
            .artwork {
                img {
                    width: 100%;
                    height: 12em;
                }
            }
        }

        .submit-artworks {
            text-align: center;
            margin-top: 5em;
            margin-bottom: 5em;
            .artwork-submit-form{
                width: 50%;
                margin: 0 auto;
                input {
                    width: 100%;
                    padding: 0.5em;
                    border-radius: 1em;
                    
                }

                button {
                    width: 100%;
                    padding: 0.5em;
                    border-radius: 1em;
                }
            }
        }
    }
}