.custom-navbar {
    background-color: transparent;
    size: 2.5em;
    #navbar {
        background-color: transparent;
        color: white;
        font-weight: bolder;    
        li a {
            color: white;
            font-weight: bolder;    
        }
        li a:hover {
            color: #543600;
        }

        button {
            color: white;
            background-color: #543600;
            border: none;
        }
    }
}

