.create-profile {
  color: black;
  margin-bottom: 5em;
  margin-top: 150px;

  .help-text{
    color: white;
  }
  .profile-form {
    .card {
      padding: 1em;
      background-color: teal;
      color: white;
    }

    .next {
      width: 50%;
      margin: 0 auto;

      button {
        width: 100%;
        background-color: white;
        color: teal;
      }
    }

  }
}

.add-artworks {
  color: teal;
  margin-bottom: 20em;
  margin-top: 150px;

  .card {
    border-radius: none;
    width: 100%;
    height: 200px;

    img {
      border-radius: 0.2em;
      width: 100%;
      height: 100%;
    }
  }


  .selected-artworks {
    .card {
      .card {
        background-color: teal;
        padding: 1em;
        color: white;
      }
    }
  }

  .submit {
    .card {
      width: 100%;
      margin: 0 auto;
      button {
        width: 50%;
      }
    }
  }
}
