mat-toolbar {
  background-color: black;
}

mat-sidenav-container {
  .nav-tool-items {
    display: flex;
    mat-icon {
      align-content: flex-end;
    }
  }
  mat-sidenav {
    position: fixed;
    width: 250px;
    height: 100vh;
    background-color: white;

    a {
      color: black;
    }

    a:hover {
      color: yellow;
    }

    p {
      color: black;
    }
  }
}

mat-sidenav-content {
  background-color: white;
}
