<div class="create-profile" (window:resize)="onResize($event)">
  <div class=" profile-bg">
    <div class="container-fluid  py-5" [style.width.%]="formWidth">


      <form #thirdForm="ngForm">
        <div class="social-media-handles">
          <div class="row">
            <div class="col-md-6 mt-3">
              <div class="card">
                <div class="form-group">
                  <label>Facebook</label>
                  <input type="text" name="facebook" class="form-control" [(ngModel)]="facebook" required>
                  <small class="help-text">Link to your facebook page</small>
                </div>
              </div>
            </div>
            <div class="col-md-6 mt-3">
              <div class="card">
                <div class="form-group">
                  <label>Instagram</label>
                  <input type="text" name="instagram" class="form-control" [(ngModel)]="instagram">

                  <small class="help-text">Your instagram username</small>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mt-3">
              <div class="card">
                <div class="form-group">
                  <label>You Tube</label>
                  <input type="text" name="youtube" class="form-control" [(ngModel)]="youtube" required>
                  <small class="help-text">Link to your youtube channel</small>
                </div>
              </div>
            </div>
            <div class="col-md-6 mt-3">
              <div class="card">
                <div class="form-group">
                  <label>Others</label>
                  <input type="text" name="others" class="form-control" [(ngModel)]="others" required>
                  <small class="help-text">Provide us with any social media account</small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="next">
          <div class="form-group mt-3">
            <button (click)="saveUserSocialMediaInfo()" class="btn btn-primary">Proceed
              to submit</button>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>
