
.filter-artworks {
    text-align: center;
    .filtering-image {
        text-align: center;
        img {
            width: 250px;
            margin: 0 auto;
        }

        vg-player {
            width: 250px;
            margin: 0 auto;

            video {
              width: 100%;
              margin: 0 auto;
            }
          }

       .pdf {
        width: 250px;
        pdf-viewer {
          display: block;
          width: 250px;
        }
       }
        
        
    }

    button {
        text-align: center;
        color: white;
        border-radius: 0.5em;
        background-color: teal;
    }
    
}