
.filter-artworks {
    text-align: center;
    .filtering-image {
        text-align: center;
        img {
            width: 150px;
            margin: 0 auto;
        }

        vg-player {
            width: 150px;
            margin: 0 auto;

            video {
              width: 100%;
              margin: 0 auto;
            }
          }

          pdf-viewer {
            display: block;
            width: 100%;
          }
        
        
    }

    button {
        text-align: center;
        color: white;
        border-radius: 0.5em;
        background-color: teal;
    }
    
}