<div class="filter-artworks">
  <div class="filtering-table">
    <div class="table-responsive">
      <table class="table">
        <tr>
          <th align="center">No.</th>
          <th align="center">Artwork</th>
          <th align="center">Subject Consent</th>
          <th align="center">Artist Consent</th>
          <th align="center">Date</th>
          <th align="center">Country</th>
          <th align="center">Category</th>
          <th align="center">Action</th>
        </tr>
        <tr>
          <td>
            <!-- <p>{{i}}</p> -->
          </td>
          <td>
            <div class="filtering-image">
              <div *ngIf="artwork.type == 'image'">
                <img  (click)="lauchDialog(artwork, 'image')" src="{{url}}" alt="">
              </div>
              <div *ngIf="artwork.type == 'video'">
                <vg-player (click)="lauchDialog(artwork, 'video')" (onPlayerReady)="onPlayerReady($event)">
                  <vg-buffering></vg-buffering>
                  <vg-controls>
                    <vg-play-pause></vg-play-pause>                    
                    <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
                    <vg-fullscreen></vg-fullscreen>
                  </vg-controls>
                  <video #media [vgMedia]="media" [src]="url" id="singleVideo" preload="auto" crossorigin>
                  </video>
                </vg-player>
              </div>
            </div>
          </td>
          <td>
            <pdf-viewer [src]="subjectConsent" (click)="lauchDialog(artwork, 'subject')" [original-size]="false"></pdf-viewer>
          </td>
          <td>
            <pdf-viewer [src]="artistConsent" (click)="lauchDialog(artwork, 'artist')" [original-size]="false"></pdf-viewer>
          </td>
          <td>
            <p>{{date}}</p>
          </td>
          <td>
            <p>{{country}}</p>
          </td>
          <td>
            <p>{{category}}</p>
          </td>
          <td>
            <div class="d-flex">
              <button class="btn mx-1" (click)="approveArtwork()">Approve</button>
              <button class="btn mx-1" (click)="declineArtwork()">Decline</button>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
