<div class="vr-gallery">
  <a-scene>


    <!-- Splash Screen -->
    <div class="splash" [style.display]="splash">
      <div class="splash__card p-y">
        <div class="title text-center">
          <h1>African Art In Context <br> Virtual Gallery</h1>
        </div>
        <p>You can move around with W-A-S-D keys (desktop), by tapping the screen
          (mobile) or with the button on your Google Cardboard.</p>
        <button class="splash__button" (click)="exitSplashDisplay()">Enter</button>
      </div>
    </div>


    <!-- Load Assets -->
    <a-assets>
      <!-- global -->
      <img id="ceiling" src="assets/images/other/ceiling.jpg">
      <img id="floor" src="assets/images/other/tiles.jpg">
      <img id="wall" src="assets/images/other/wall-concrete.jpg">
      <img id="wall-secret" src="assets/images/other/wall-concrete-secret.jpg">
      <img id="wall-brick" src="assets/images/other/brick.jpg">
      <img id="room-sign-1" src="assets/images/other/room-sign-1.png">
      <img id="room-sign-2" src="assets/images/other/room-sign-2.png">
      <img id="sky" src="assets/images/other/wall-concrete.jpg">
      <!-- team -->


      <img id="example0" src="{{images[0].url}}" crossorigin=anonymous>
      <img id="example1" src="{{images[1].url}}" crossorigin=anonymous>
      <img id="example2" src="{{images[2].url}}" crossorigin=anonymous>
      <img id="example3" src="{{images[3].url}}" crossorigin=anonymous>
      <img id="example4" src="{{images[4].url}}" crossorigin=anonymous>
      <img id="example5" src="{{images[5].url}}" crossorigin=anonymous>
      <img id="example6" src="{{images[6].url}}" crossorigin=anonymous>
      <img id="example7" src="{{images[7].url}}" crossorigin=anonymous>
      <img id="example8" src="{{images[8].url}}" crossorigin=anonymous>
      <img id="example9" src="{{images[9].url}}" crossorigin=anonymous>
      <img id="example10" src="{{images[10].url}}" crossorigin=anonymous>
      <img id="example11" src="{{images[11].url}}" crossorigin=anonymous>
      <img id="example12" src="{{images[12].url}}" crossorigin=anonymous>
      <img id="example13" src="{{images[13].url}}" crossorigin=anonymous>
      <img id="example14" src="{{images[14].url}}" crossorigin=anonymous>
      <img id="example15" src="{{images[15].url}}" crossorigin=anonymous>
      <img id="example16" src="{{images[16].url}}" crossorigin=anonymous>
      <img id="example17" src="{{images[17].url}}" crossorigin=anonymous>
      <img id="example18" src="{{images[18].url}}" crossorigin=anonymous>
      <img id="example19" src="{{images[19].url}}" crossorigin=anonymous>
      <img id="example20" src="{{images[20].url}}" crossorigin=anonymous>
      <img id="example21" src="{{images[21].url}}" crossorigin=anonymous>
      <img id="example22" src="{{images[22].url}}" crossorigin=anonymous>
      <img id="example23" src="{{images[23].url}}" crossorigin=anonymous>
      <img id="example24" src="{{images[24].url}}" crossorigin=anonymous>
      <img id="example25" src="{{images[25].url}}" crossorigin=anonymous>
      <img id="example26" src="{{images[26].url}}" crossorigin=anonymous>
      <img id="example27" src="{{images[27].url}}" crossorigin=anonymous>

      <img id="example28" src="{{images[28].url}}" crossorigin=anonymous>
      <img id="example29" src="{{images[29].url}}" crossorigin=anonymous>
      <img id="example30" src="{{images[30].url}}" crossorigin=anonymous>
      <img id="example31" src="{{images[31].url}}" crossorigin=anonymous>
      <img id="example32" src="{{images[32].url}}" crossorigin=anonymous>
      <img id="example33" src="{{images[33].url}}" crossorigin=anonymous>
      <img id="example34" src="{{images[34].url}}" crossorigin=anonymous>
      <img id="example35" src="{{images[35].url}}" crossorigin=anonymous>
      <img id="example36" src="{{images[36].url}}" crossorigin=anonymous>
      <img id="example37" src="{{images[37].url}}" crossorigin=anonymous>
      <img id="example38" src="{{images[38].url}}" crossorigin=anonymous>
      <img id="example39" src="{{images[39].url}}" crossorigin=anonymous>
      <img id="example40" src="{{images[40].url}}" crossorigin=anonymous>
      <img id="example41" src="{{images[41].url}}" crossorigin=anonymous>
      <img id="example42" src="{{images[42].url}}" crossorigin=anonymous>
      <img id="example43" src="{{images[43].url}}" crossorigin=anonymous>
      <img id="example44" src="{{images[44].url}}" crossorigin=anonymous>
      <img id="example45" src="{{images[45].url}}" crossorigin=anonymous>
      <img id="example46" src="{{images[46].url}}" crossorigin=anonymous>
      <img id="example47" src="{{images[47].url}}" crossorigin=anonymous>
      <img id="example48" src="{{images[48].url}}" crossorigin=anonymous>
      <img id="example49" src="{{images[49].url}}" crossorigin=anonymous>

      <video id="theaterVideo1"  preload="true" loop="true" src="{{videos[0].url}}"
        crossorigin=anonymous>
      </video>
      <video id="theaterVideo2"  preload="true" loop="true" src="{{videos[1].url}}" crossorigin=anonymous>
      </video>
      <video id="theaterVideo3"  preload="true" loop="true" src="{{videos[2].url}}" crossorigin=anonymous>
      </video>
      <video id="theaterVideo4"  preload="true" loop="true" src="{{videos[3].url}}" crossorigin=anonymous>
      </video>
      <video id="theaterVideo5"  preload="true" loop="true" src="{{videos[4].url}}" crossorigin=anonymous>
      </video>
      <video id="theaterVideo6"  preload="true" loop="true" src="{{videos[5].url}}" crossorigin=anonymous>
      </video>
      <video id="theaterVideo7"  preload="true" loop="true" src="{{videos[6].url}}" crossorigin=anonymous>
      </video>
      <video id="theaterVideo8"  preload="true" loop="true" src="{{videos[7].url}}" crossorigin=anonymous>
      </video>
      <video id="theaterVideo9"  preload="true" loop="true" src="{{videos[8].url}}" crossorigin=anonymous>
      </video>
      <video id="theaterVideo10"  preload="true" loop="true" src="{{videos[9].url}}" crossorigin=anonymous>
      </video>
      <video id="theaterVideo11"  preload="true" loop="true" src="{{videos[10].url}}" crossorigin=anonymous>
      </video>
      <video id="theaterVideo12"  preload="true" loop="true" src="{{videos[11].url}}" crossorigin=anonymous></video>

    </a-assets>

    <!-- User / Camera -->
  
     <a-entity id="rig" movement-controls="fly: true"  >
      <a-entity camera id="player" look-controls >
        <!-- <a-entity cursor=" rayOrigin: mouse" geometry="primitive: ring; radiusInner: 1; radiusOuter: 1.2"
        material="color: black; shader: flat"></a-entity>

        <a-entity position="0 0 -5" material="color: teal; shader: flat">
          <a-animation begin="click" easing="ease-in" attribute="scale" dur="150" fill="forwards" from="0.1 0.1 0.1"
            to="0.15 0.15 0.15"></a-animation>
          <a-animation begin="cursor-fusing" easing="ease-in" attribute="scale" dur="1500" fill="backwards"
            from="0.15 0.15 0.15" to="0.1 0.1 0.1"></a-animation>
        </a-entity> -->

      </a-entity>
     </a-entity>

     <!-- twoway-motion="nonMobileLoad: true;  speed: 18; threshold: -30" -->

     <!-- <a-entity id="player" camera="user-height: 2" wasd-controls universal-controls="movement-controls: automove, gamepad ,keyboard" look-controls kinematic-body fov="80" near="0.01" far="10000" position="0 9 0">
      <a-entity cursor="fuse: true; fuseTimeout: 500" position="0 0 -1" geometry="primitive: ring; radiusInner: 0.
      02; radiusOuter: 0.03" material="color: gray; shader: flat">

      </a-entity>

    </a-entity> -->


    <a-image static-body position="-41.9 3 30" rotation="0 90 0" src="#example0" width="5" height="5"></a-image>
    <a-image static-body position="-41.9 3 20" rotation="0 90 0" src="#example1" width="5" height="5"></a-image>
    <a-image static-body position="-41.9 3 3" rotation="0 90 0" src="#example2" width="5" height="5"></a-image>
    <a-image static-body position="-41.9 3 -10" rotation="0 90 0" src="#example3" width="5" height="5"></a-image>
    <a-image static-body position="-41.9 3 -25" rotation="0 90 0" src="#example4" width="5" height="5"></a-image>
    <a-image static-body position="-41.9 3 -35" rotation="0 90 0" src="#example5" width="5" height="5"></a-image>

    <!-- <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black"
      text="color: white; align:  center; value: {{imageUsers[0]}}." rotation="0 90 0"
      position="-41.9 -1.5 30" scale="2.2 2.2 2.2"></a-entity>
    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black"
      text="color: white; align:  center; value: {{imageUsers[1]}}" rotation="0 90 0"
      position="-41.9 -1.5 20" scale="2.2 2.2 2.2"></a-entity>
    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black"
      text="color: white; align:  center; value: This text will be 4 units wide." rotation="0 90 0"
      position="-41.9 -1.5 3" scale="2.2 2.2 2.2"></a-entity>
    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black"
      text="color: white; align:  center; value: This text will be 4 units wide." rotation="0 90 0"
      position="-41.9 -1.5 -10" scale="2.2 2.2 2.2"></a-entity>
    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black"
      text="color: white; align:  center; value: This text will be 4 units wide." rotation="0 90 0"
      position="-41.9 -1.5 -25" scale="2.2 2.2 2.2"></a-entity>
    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black"
      text="color: white; align:  center; value: This text will be 4 units wide." rotation="0 90 0"
      position="-41.9 -1.5 -35" scale="2.2 2.2 2.2"></a-entity> -->

    <a-image static-body position="38.9 3 4" rotation="0 -90 0" src="#example6" width="5" height="5"></a-image>
    <a-image static-body position="38.9 3 -3" rotation="0 -90 0" src="#example7" width="5" height="5"></a-image>
    <a-image static-body position="38.9 3 -10" rotation="0 -90 0" src="#example8" width="5" height="5"></a-image>
    <a-image static-body position="38.9 3 -23" rotation="0 -90 0" src="#example9" width="5" height="5"></a-image>
    <a-image static-body position="38.9 3 -30" rotation="0 -90 0" src="#example10" width="5" height="5"></a-image>
    <a-image static-body position="38.9 3 -37" rotation="0 -90 0" src="#example11" width="5" height="5"></a-image>

    <!-- <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black"
      text="color: white; align:  center; value: This text will be 4 units wide." rotation="0 -90 0"
      position="38.9 -1.5 4" scale="2.2 2.2 2.2"></a-entity>
    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black"
      text="color: white; align:  center; value: This text will be 4 units wide." rotation="0 -90 0"
      position="38.9 -1.5 -3" scale="2.2 2.2 2.2"></a-entity>
    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black"
      text="color: white; align:  center; value: This text will be 4 units wide." rotation="0 -90 0"
      position="38.9 -1.5 -10" scale="2.2 2.2 2.2"></a-entity>
    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black"
      text="color: white; align:  center; value: This text will be 4 units wide." rotation="0 -90 0"
      position="38.9 -1.5 -23" scale="2.2 2.2 2.2"></a-entity>
    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black"
      text="color: white; align:  center; value: This text will be 4 units wide." rotation="0 -90 0"
      position="38.9 -1.5 -30" scale="2.2 2.2 2.2"></a-entity>
    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black"
      text="color: white; align:  center; value: This text will be 4 units wide." rotation="0 -90 0"
      position="38.9 -1.5 -37" scale="2.2 2.2 2.2"></a-entity> -->


    <a-image position="35 3 -14.9" rotation="0 -180 0" src="#example12" width="5" height="5"></a-image>
    <a-image position="27 3 -14.9" rotation="0 -180 0" src="#example13" width="5" height="5"></a-image>
    <a-image position="20 3 -14.9" rotation="0 -180 0" src="#example14" width="5" height="5"></a-image>
    <a-image position="13 3 -14.9" rotation="0 -180 0" src="#example15" width="5" height="5"></a-image>
    <a-image position="6 3 -14.9" rotation="0 -180 0" src="#example16" width="5" height="5"></a-image>
    <a-image position="-1 3 -14.9" rotation="0 -180 0" src="#example17" width="5" height="5"></a-image>
    <a-image position="-30 3 -14.9" rotation="0 -180 0" src="#example18" width="5" height="5"></a-image>
    <a-image position="-37 3 -14.9" rotation="0 -180 0" src="#example19" width="5" height="5"></a-image>

    <!-- <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black"
      text="color: white; align:  center; value: This text will be 4 units wide." position="35 -1.5 -14.9"
      scale="2.2 2.2 2.2"></a-entity>
    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black"
      text="color: white; align:  center; value: This text will be 4 units wide." position="27 -1.5 -14.9"
      scale="2.2 2.2 2.2"></a-entity>
    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black"
      text="color: white; align:  center; value: This text will be 4 units wide." position="20 -1.5 -14.9"
      scale="2.2 2.2 2.2"></a-entity>
    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black"
      text="color: white; align:  center; value: This text will be 4 units wide." position="13 -1.5 -14.9"
      scale="2.2 2.2 2.2"></a-entity>
    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black"
      text="color: white; align:  center; value: This text will be 4 units wide." position="6 -1.5 -14.9"
      scale="2.2 2.2 2.2"></a-entity>
    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black"
      text="color: white; align:  center; value: This text will be 4 units wide." position="-1 -1.5 -14.9"
      scale="2.2 2.2 2.2"></a-entity>
    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black"
      text="color: white; align:  center; value: This text will be 4 units wide." position="-30 -1.5 -14.9"
      scale="2.2 2.2 2.2"></a-entity>
    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black"
      text="color: white; align:  center; value: This text will be 4 units wide." position="-37 -1.5 -14.9"
      scale="2.2 2.2 2.2"></a-entity> -->

    <a-image position="35 3 -18.8" rotation="0 180 0" src="#example20" width="5" height="5"></a-image>
    <a-image position="27 3 -18.8" rotation="0 180 0" src="#example21" width="5" height="5"></a-image>
    <a-image position="20 3 -18.8" rotation="0 180 0" src="#example22" width="5" height="5"></a-image>
    <a-image position="13 3 -18.8" rotation="0 180 0" src="#example23" width="5" height="5"></a-image>
    <a-image position="6 3 -18.8" rotation="0 180 0" src="#example24" width="5" height="5"></a-image>
    <a-image position="-1 3 -18.8" rotation="0 180 0" src="#example25" width="5" height="5"></a-image>
    <a-image position="-30 3 -18.8" rotation="0 180 0" src="#example26" width="5" height="5"></a-image>
    <a-image position="-37 3 -18.8" rotation="0 180 0" src="#example27" width="5" height="5"></a-image>

    <!-- <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black" rotation="0 -180 0"
      text="color: white; align:  center; value: This text will be 4 units wide." position="35 -1.5 -18.8"
      scale="2.2 2.2 2.2"></a-entity>
    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black" rotation="0 -180 0"
      text="color: white; align:  center; value: This text will be 4 units wide." position="27 -1.5 -18.8"
      scale="2.2 2.2 2.2"></a-entity>
    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black" rotation="0 -180 0"
      text="color: white; align:  center; value: This text will be 4 units wide." position="20 -1.5 -18.8"
      scale="2.2 2.2 2.2"></a-entity>
    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black" rotation="0 -180 0"
      text="color: white; align:  center; value: This text will be 4 units wide." position="13 -1.5 -18.8"
      scale="2.2 2.2 2.2"></a-entity>
    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black" rotation="0 -180 0"
      text="color: white; align:  center; value: This text will be 4 units wide." position="6 -1.5 -18.8"
      scale="2.2 2.2 2.2"></a-entity>
    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black" rotation="0 -180 0"
      text="color: white; align:  center; value: This text will be 4 units wide." position="-1 -1.5 -18.8"
      scale="2.2 2.2 2.2"></a-entity>
    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black" rotation="0 -180 0"
      text="color: white; align:  center; value: This text will be 4 units wide." position="-30 -1.5 -18.8"
      scale="2.2 2.2 2.2"></a-entity>
    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black" rotation="0 -180 0"
      text="color: white; align:  center; value: This text will be 4 units wide." position="-37 -1.5 -18.8"
      scale="2.2 2.2 2.2"></a-entity> -->


    <a-image position="-30 3 12.2" rotation="0 180 0" src="#example28" width="5" height="5"></a-image>
    <a-image position="-37 3 12.2" rotation="0 180 0" src="#example29" width="5" height="5"></a-image>

    <!-- <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black"
      text="color: white; align:  center; value: This text will be 4 units wide." position="-30 -1.5 12.2"
      scale="2.2 2.2 2.2"></a-entity>
    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black" 
      text="color: white; align:  center; value: This text will be 4 units wide." position="-37 -1.5 12.2"
      scale="2.2 2.2 2.2"></a-entity> -->

    <a-image position="35 3 8.8" rotation="0 180 0" src="#example30" width="5" height="5"></a-image>
    <a-image position="27 3 8.8" rotation="0 180 0" src="#example31" width="5" height="5"></a-image>
    <a-image position="20 3 8.8" rotation="0 180 0" src="#example32" width="5" height="5"></a-image>
    <a-image position="13 3 8.8" rotation="0 180 0" src="#example33" width="5" height="5"></a-image>
    <a-image position="6 3 8.8" rotation="0 180 0" src="#example34" width="5" height="5"></a-image>
    <a-image position="-1 3 8.8" rotation="0 180 0" src="#example35" width="5" height="5"></a-image>
    <a-image position="-30 3 8.8" rotation="0 180 0" src="#example36" width="5" height="5"></a-image>
    <a-image position="-37 3 8.8" rotation="0 180 0" src="#example37" width="5" height="5"></a-image>

    <!-- <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black" rotation="0 -180 0"
      text="color: white; align:  center; value: This text will be 4 units wide." position="35 -1.5 8.8"
      scale="2.2 2.2 2.2"></a-entity>
    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black" rotation="0 -180 0"
      text="color: white; align:  center; value: This text will be 4 units wide." position="27 -1.5 8.8"
      scale="2.2 2.2 2.2"></a-entity>
    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black" rotation="0 -180 0"
      text="color: white; align:  center; value: This text will be 4 units wide." position="20 -1.5 8.8"
      scale="2.2 2.2 2.2"></a-entity>
    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black" rotation="0 -180 0"
      text="color: white; align:  center; value: This text will be 4 units wide." position="13 -1.5 8.8"
      scale="2.2 2.2 2.2"></a-entity>
    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black" rotation="0 -180 0"
      text="color: white; align:  center; value: This text will be 4 units wide." position="6 -1.5 8.8"
      scale="2.2 2.2 2.2"></a-entity>
    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black" rotation="0 -180 0"
      text="color: white; align:  center; value: This text will be 4 units wide." position="-1 -1.5 8.8"
      scale="2.2 2.2 2.2"></a-entity>
    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black" rotation="0 -180 0"
      text="color: white; align:  center; value: This text will be 4 units wide." position="-30 -1.5 8.8"
      scale="2.2 2.2 2.2"></a-entity>
    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black" rotation="0 -180 0"
      text="color: white; align:  center; value: This text will be 4 units wide." position="-37 -1.5 8.8"
      scale="2.2 2.2 2.2"></a-entity> -->



    <a-image position="-30 3 8.8" rotation="0 180 0" src="#example38" width="5" height="5"></a-image>
    <a-image position="-37 3 8.8" rotation="0 180 0" src="#example39" width="5" height="5"></a-image>


    <!-- <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black" rotation="0 -180 0"
      text="color: white; align:  center; value: This text will be 4 units wide." position="-30 -1.5 8.8"
      scale="2.2 2.2 2.2"></a-entity>
    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black" rotation="0 -180 0"
      text="color: white; align:  center; value: This text will be 4 units wide." position="-37 -1.5 8.8"
      scale="2.2 2.2 2.2"></a-entity> -->


    <a-video link="on: click; href: gallery/1607104326188 " src="#theaterVideo1" videoplayer visible="true"
      autoplay="true" webkit-playsinline playsinline position="-3 3 12.2" width="8" height="6">
    </a-video>

    <a-video link="on: click; href: gallery/1608564062897 " src="#theaterVideo2" videoplayer visible="true"
      autoplay="true" webkit-playsinline playsinline position="6 3 12.2" width="8" height="6">
    </a-video>

    <a-video link="on: click; href: gallery/1608593601299 " src="#theaterVideo3" videoplayer visible="true"
      autoplay="true" webkit-playsinline playsinline position="15 3 12.2" width="8" height="6">
    </a-video>

    <a-video link="on: click; href: gallery/1608625657409 " src="#theaterVideo4" videoplayer visible="true"
      autoplay="true" webkit-playsinline playsinline position="24 3 12.2" width="8" height="6">
    </a-video>

    <a-video link="on: click; href: gallery/1608628035551 " src="#theaterVideo5" videoplayer visible="true"
      autoplay="true" webkit-playsinline playsinline position="33 3 12.2" width="8" height="6">
    </a-video>

    <a-video link="on: click; href: gallery/1608754647331 " src="#theaterVideo6" videoplayer visible="true"
      autoplay="true" webkit-playsinline playsinline position="38.9 3 30" width="8" height="6" rotation="0 -90 0">
    </a-video>

    <a-video link="on: click; href: gallery/1608825268302 " src="#theaterVideo7" videoplayer visible="true"
      autoplay="true" webkit-playsinline playsinline position="38.9 3 18" width="8" height="6" rotation="0 -90 0">
    </a-video>

    <a-video link="on: click; href: gallery/1608830492163 " src="#theaterVideo8" videoplayer visible="true"
      autoplay="true" webkit-playsinline playsinline position="33 3 35.8" width="8" height="6" rotation="0 -180 0">
    </a-video>

    <a-video link="on: click; href: gallery/1608863626178 " src="#theaterVideo9" videoplayer visible="true"
      autoplay="true" webkit-playsinline playsinline position="24 3 35.8" width="8" height="6" rotation="0 -180 0">
    </a-video>

    <a-video link="on: click; href: gallery/1609004947682 " src="#theaterVideo10" videoplayer visible="true"
      autoplay="true" webkit-playsinline playsinline position="15 3 35.8" width="8" height="6" rotation="0 -180 0">
    </a-video>

    <a-video link="on: click; href: gallery/1609064181626 " src="#theaterVideo11" videoplayer visible="true"
      autoplay="true" webkit-playsinline playsinline position="6 3 35.8" width="8" height="6" rotation="0 -180 0">
    </a-video>

    <a-video link="on: click; href: gallery/1609351927868 " src="#theaterVideo12" videoplayer visible="true"
      autoplay="true" webkit-playsinline playsinline position="-3 3 35.8" width="8" height="6" rotation="0 -180 0">
    </a-video>


    <!-- <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black"
      text="color: white; align:  center; value: This text will be 4 units wide." position="-3 -1.5 12.2"
      scale="2.2 2.2 2.2"></a-entity>
    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black"
      text="color: white; align:  center; value: This text will be 4 units wide." position="6 -1.5 12.2"
      scale="2.2 2.2 2.2"></a-entity>
    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black"
      text="color: white; align:  center; value: This text will be 4 units wide." position="15 -1.5 12.2"
      scale="2.2 2.2 2.2"></a-entity>
    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black"
      text="color: white; align:  center; value: This text will be 4 units wide." position="24 -1.5 12.2"
      scale="2.2 2.2 2.2"></a-entity>
    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black"
      text="color: white; align:  center; value: This text will be 4 units wide." position="33 -1.5 12.2"
      scale="2.2 2.2 2.2"></a-entity>
    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black"  rotation="0 -90 0"
      text="color: white; align:  center; value: This text will be 4 units wide." position="38.9 -1.5 30"
      scale="2.2 2.2 2.2"></a-entity>
    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black"  rotation="0 -90 0"
      text="color: white; align:  center; value: This text will be 4 units wide." position="38.9 -1.5 18"
      scale="2.2 2.2 2.2"></a-entity>
    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black" 
      text="color: white; align:  center; value: This text will be 4 units wide." position="33 -1.5 35.8"
      scale="2.2 2.2 2.2"></a-entity>
    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black" rotation="0 -180 0"
      text="color: white; align:  center; value: This text will be 4 units wide." position="24 -1.5 35.8"
      scale="2.2 2.2 2.2"></a-entity>
    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black" rotation="0 -180 0"
      text="color: white; align:  center; value: This text will be 4 units wide." position="33 -1.5 35.8"
      scale="2.2 2.2 2.2"></a-entity>
    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black" rotation="0 -180 0"
      text="color: white; align:  center; value: This text will be 4 units wide." position="15 -1.5 35.8"
      scale="2.2 2.2 2.2"></a-entity>
      <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black" rotation="0 -180 0"
      text="color: white; align:  center; value: This text will be 4 units wide." position="6 -1.5 35.8"
      scale="2.2 2.2 2.2"></a-entity>
      <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black" rotation="0 -180 0"
      text="color: white; align:  center; value: This text will be 4 units wide." position="-3 -1.5 35.8"
      scale="2.2 2.2 2.2"></a-entity> -->

    <a-image position="34 3 -41.9" rotation="0 -180 0" src="#example40" width="5" height="5"></a-image>
    <a-image position="27 3 -41.9" rotation="0 -180 0" src="#example41" width="5" height="5"></a-image>
    <a-image position="20 3 -41.9" rotation="0 -180 0" src="#example42" width="5" height="5"></a-image>
    <a-image position="13 3 -41.9" rotation="0 -180 0" src="#example43" width="5" height="5"></a-image>
    <a-image position="6 3 -41.9" rotation="0 -180 0" src="#example44" width="5" height="5"></a-image>
    <a-image position="-1 3 -41.9" rotation="0 -180 0" src="#example45" width="5" height="5"></a-image>
    <a-image position="-8 3 -41.9" rotation="0 -180 0" src="#example46" width="5" height="5"></a-image>
    <a-image position="-15 3 -41.9" rotation="0 -180 0" src="#example47" width="5" height="5"></a-image>
    <a-image position="-22 3 -41.9" rotation="0 -180 0" src="#example48" width="5" height="5"></a-image>
    <a-image position="-29 3 -41.9" rotation="0 -180 0" src="#example49" width="5" height="5"></a-image>
    <a-image position="-36 3 -41.9" rotation="0 -180 0" src="#example50" width="5" height="5"></a-image>


    <!-- <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black"
      text="color: white; align:  center; value: This text will be 4 units wide." position="34 -1.5 -41.9"
      scale="2.2 2.2 2.2"></a-entity>
    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black"
      text="color: white; align:  center; value: This text will be 4 units wide." position="27 -1.5 -41.9"
      scale="2.2 2.2 2.2"></a-entity>
    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black"
      text="color: white; align:  center; value: This text will be 4 units wide." position="20 -1.5 -41.9"
      scale="2.2 2.2 2.2"></a-entity>
    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black"
      text="color: white; align:  center; value: This text will be 4 units wide." position="13 -1.5 -41.9"
      scale="2.2 2.2 2.2"></a-entity>
    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black"
      text="color: white; align:  center; value: This text will be 4 units wide." position="6 -1.5 -41.9"
      scale="2.2 2.2 2.2"></a-entity>
    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black"
      text="color: white; align:  center; value: This text will be 4 units wide." position="-1 -1.5 -41.9"
      scale="2.2 2.2 2.2"></a-entity>
    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black"
      text="color: white; align:  center; value: This text will be 4 units wide." position="-8 -1.5 -41.9"
      scale="2.2 2.2 2.2"></a-entity>
    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black"
      text="color: white; align:  center; value: This text will be 4 units wide." position="-15 -1.5 -41.9"
      scale="2.2 2.2 2.2"></a-entity>
    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black"
      text="color: white; align:  center; value: This text will be 4 units wide." position="-22 -1.5 -41.9"
      scale="2.2 2.2 2.2"></a-entity>
    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black"
      text="color: white; align:  center; value: This text will be 4 units wide." position="-29 -1.5 -41.9"
      scale="2.2 2.2 2.2"></a-entity>
    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black"
      text="color: white; align:  center; value: This text will be 4 units wide." position="-36 -1.5 -41.9"
      scale="2.2 2.2 2.2"></a-entity> -->

    <!-- Ground -->
    <a-plane id="ground" position="-2 -11 -1" static-body material="src: #floor; repeat: 30 30" height="85" width="85"
      rotation="-90 0 0">
    </a-plane>
    <!-- Walls (used by map.js -->)
    <a-entity id="walls"></a-entity>
    <!-- Ceiling     -->
    <a-plane position="-2 14.5 -1" rotation="90 0 0" height="85" width="85" static-body
      material="src: #ceiling; repeat: 10 10">
    </a-plane>
  </a-scene>
</div>