.select-artworks {
    text-align: center;
    .select-item {
        text-align: center;
        img {
            width: 150px;
            margin: 0 auto;
        }

        vg-player {
            width: 150px;
            margin: 0 auto;

            video {
              width: 100%;
              margin: 0 auto;
            }
          }

 
        
    }

    button {
        text-align: center;
        color: rgb(248, 229, 229);
        border-radius: 0.5em;
        background-color: teal;
    }
    
}