.create-profile {
    h3{
        text-align: center;
        font-size: 2.0em;
    }

    
    button {
        background-color: black;
        color: white;
        border: none;
    }
    .card {
        border: none;
        background: white;
    }
}