<div class="create-profile" (window:resize)="onResize($event)">
  <div class=" profile-bg">
    <div class="container-fluid  py-5" [style.width.%]="formWidth">
      <mat-horizontal-stepper #stepper [linear]="isLinear">
        <form #firstForm="ngForm">
          <mat-step label="Create Account" [stepControl]="firstForm">
            <div class="card mt-3">
              <div class="form-group">
                <label>Email</label>
                <input type="email" name="email" class="form-control" [(ngModel)]="user.email"
                  [ngClass]="{ 'is-invalid': firstForm.submitted && email.invalid }" #email="ngModel" required>
                <div *ngIf="firstForm.submitted && email.invalid" class="invalid-feedback">
                  <div *ngIf="email.errors.required">
                    Your email cannot be empty
                  </div>
                </div>
                <small class="help-text">Enter your email</small>
              </div>
            </div>
            <div class="card mt-3">
              <div class="form-group">
                <label>Password</label>
                <input type="password" name="password" #password="ngModel" class="form-control"
                  [(ngModel)]="user.password" [ngClass]="{ 'is-invalid': secondForm.submitted && password.invalid }"
                  required>
                <div *ngIf="secondForm.submitted && password.invalid" class="invalid-feedback">
                  <div *ngIf="password.errors.required">
                    Your password cannot be empty
                  </div>
                  <small class="help-text">Enter a password you can remember</small>
                </div>
              </div>
            </div>
            <div class="move">
              <div class="row">
                <div class="col-6 mt-3">
                  <button class="btn" mat-button (click)="goBack(stepper)">Back</button>
                </div>
                <div class="col-6 mt-3">
                  <button class="btn" mat-button (click)="creatAcountAndGoForward(stepper)">Next</button>
                </div>
              </div>
            </div>
          </mat-step>

        </form>
        <form #secondForm="ngForm">
          <mat-step label="Account Details" [stepControl]="secondForm">
            <div class="card">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 mt-3">
                  <div class="form-group">
                    <label>First Name</label>
                    <input type="text" name="firstName" class="form-control" [(ngModel)]="user.firstName"
                      [ngClass]="{ 'is-invalid': firstForm.submitted && firstName.invalid }" #firstName="ngModel"
                      required>
                    <div *ngIf="firstForm.submitted && firstName.invalid" class="invalid-feedback">
                      <div *ngIf="firstName.errors.required">
                        Your first name cannot be empty
                      </div>
                    </div>
                    <small class="help-text">Tell us your first name</small>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 mt-3">
                  <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" name="lastName" class="form-control" [(ngModel)]="user.lastName"
                      [ngClass]="{ 'is-invalid': firstForm.submitted && lastName.invalid }" #lastName="ngModel"
                      required>
                    <div *ngIf="firstForm.submitted && lastName.invalid" class="invalid-feedback">
                      <div *ngIf="lastName.errors.required">
                        Your last name cannot be empty
                      </div>
                    </div>
                    <small class="help-text">Tell us your last name</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mt-3">
              <div class="form-group">
                <div>
                  <label>Date Of Birth </label>
                </div>
                <div>
                  <mat-form-field>
                    <input (dateInput)="OnDateChange($event.value)" [(ngModel)]="user.birthDate" name="birthDate"
                      #birthDate="ngModel" [min]="minDate" [max]="maxDate" matInput [matDatepicker]="picker" />
                    <div *ngIf="firstForm.submitted && birthDate.invalid" class="invalid-feedback">
                      <div *ngIf="birthDate.errors.required">
                        Please submit a valid date
                      </div>
                    </div>
                    <mat-datepicker-toggle matSuffix [for]="picker">
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
                <small class="help-text">Choose your date of birth</small>
              </div>
            </div>

            <div class="card mt-3">
              <div class="form-group">
                <label>Gender</label>
                <select class="form-control" (change)="selectOption($event.target.value)" [(ngModel)]="user.gender"
                  name="gender" [ngClass]="{ 'is-invalid': firstForm.submitted && gender.invalid }" #gender="ngModel"
                  required>
                  <option value="">Select an option</option>
                  <option *ngFor="let gender of genders">
                    {{gender}}
                  </option>
                </select>
                <div *ngIf="firstForm.submitted && gender.invalid" class="invalid-feedback">
                  <div *ngIf="gender.errors.required">
                    Please select your gender </div>
                  <small class="help-text">Select your gender</small>
                </div>
              </div>
            </div>
            <div class="card mt-3">
              <div class="form-group">
                <label>Phone Number</label>
                <input type="text" name="phoneNumber" #phoneNumber="ngModel" class="form-control"
                  [(ngModel)]="user.phoneNumber"
                  [ngClass]="{ 'is-invalid': secondForm.submitted && phoneNumber.invalid }" required>
                <div *ngIf="thirdForm.submitted && phoneNumber.invalid" class="invalid-feedback">
                  <div *ngIf="phoneNumber.errors.required">
                    Phone number cannot be empty </div>
                  <small class="help-text">What is your phone number?</small>
                </div>
              </div>
            </div>

            <div class="address mt-3">
              <div class="card">
                <div class="form-group">
                  <label>Street Address 1</label>
                  <input type="text" name="firstAddress" #firstAddress="ngModel" class="form-control"
                    [(ngModel)]="user.address" required>
                  <small class="help-text">Your street address</small>
                </div>
                <div class="form-group">
                  <label>Country of Residence</label>
                  <input type="text" name="country" #country="ngModel" class="form-control" [(ngModel)]="user.country"
                    [ngClass]="{ 'is-invalid': thirdForm.submitted && country.invalid }" required>
                  <div *ngIf="thirdForm.submitted && country.invalid" class="invalid-feedback">
                    <div *ngIf="country.errors.required">
                      Country of residence cannot be empty
                    </div>
                    <small class="help-text">Tell us the country of your residence</small>
                  </div>
                  <div class="form-group">
                    <label>Nationality</label>
                    <input type="text" name="nationality" #nationality="ngModel" class="form-control"
                      [(ngModel)]="user.nationality"
                      [ngClass]="{ 'is-invalid': thirdForm.submitted && nationality.invalid }">
                    <div *ngIf="thirdForm.submitted && nationality.invalid" class="invalid-feedback">
                      <div *ngIf="nationality.errors.required">
                        Nationality cannot be empty
                      </div>
                      <small class="help-text">Tell us your nationality</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="move">
              <div class="row">
                <div class="col-6 mt-3">
                  <button class="btn" mat-button (click)="goBack(stepper)">Back</button>
                </div>
                <div class="col-6 mt-3">
                  <button class="btn" mat-button (click)="goForward(stepper)">Next</button>
                </div>
              </div>
            </div>
          </mat-step>
        </form>

        <form #thirdForm="ngForm">
          <mat-step label="Social Media Info" [stepControl]="thirdForm">
            <div class="social-media-handles">
              <div class="row">
                <div class="col-md-6 mt-3">
                  <div class="card">
                    <div class="form-group">
                      <label>Facebook</label>
                      <input type="text" name="facebook" class="form-control" [(ngModel)]="facebook" required>
                      <small class="help-text">Link to your facebook page</small>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mt-3">
                  <div class="card">
                    <div class="form-group">
                      <label>Instagram</label>
                      <input type="text" name="instagram" class="form-control" [(ngModel)]="instagram">

                      <small class="help-text">Your instagram username</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mt-3">
                  <div class="card">
                    <div class="form-group">
                      <label>You Tube</label>
                      <input type="text" name="youtube" class="form-control" [(ngModel)]="youtube" required>
                      <small class="help-text">Link to your youtube channel</small>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mt-3">
                  <div class="card">
                    <div class="form-group">
                      <label>Others</label>
                      <input type="text" name="others" class="form-control" [(ngModel)]="others" required>
                      <small class="help-text">Provide us with any social media account</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="next">
              <div class="form-group mt-3">
                <button (click)="onSubmit()" class="btn btn-primary">Proceed
                  to submit</button>
              </div>
            </div>
          </mat-step>
        </form>

      </mat-horizontal-stepper>
    </div>
  </div>
</div>
