.create-profile {
  min-height: 100vh;
  max-height: 100vh;
  background-image: url('/assets/images/gallery/sample/picture7.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: auto;
  max-height: 100vh;

  .profile-bg {
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);

    .container-fluid {
      width: 100%;
      mat-horizontal-stepper {
        background-color: transparent;
      }
      .card {

        background-color: rgba(0, 0, 0, 0.6);
        padding: 1em;
        border: none;
        color: whitesmoke;
        border-radius: 1em;
        

      }

      input,
      select,
      option {
        background-color: rgba(0, 0, 0, 0.9);
        border-radius: 0.5em;
        border-color: teal;
        color: white;
      }

    
      h3 {
        text-align: center;
        font-size: 2.0em;
      }


      button {
        background-color: black;
        color: white;
        border: none;
        width: 100%;
      }
    }

  }
}

@media (max-width: 300px) {
  .create-profile {
    .profile-bg {
      .container-fluid {
        width: 100%;
      }
    }
  }
}

@media (max-width: 400px) {
  .create-profile {
    .profile-bg {
      .container-fluid {
        width: 100%;
      }
    }
  }
}


@media (max-width: 700px) {
  .create-profile {
    .profile-bg {
      .container-fluid {
        width: 100%;
      }
    }
  }
}


@media (max-width: 800px) {
  .create-profile {
      h3 {
          font-size: 1.5em;
      }
    .profile-bg {
      .container-fluid {
        width: 100%;
      }
    }
  }
}
