<div class="add-artworks container">
  <form novalidate>
    <div class="selected-files"  appDnd (fileDropped)="onFileDropped($event)">
      <input type="file" #fileDropRef id="fileDropRef" multiple (change)="fileBrowseHandler($event.target.files)" />
      <div class="d-flex justify-content-center">
        <h3 class="mx-3 mb-0">Drag and drop file here</h3>
        <h3 class="mx-3 mb-0">or</h3>
        <h3 class="mx-3 mb-0" for="fileDropRef">Browse for file</h3>
      </div>
    </div>
  </form>
  <div class="selected-works mt-5">
    <div class="files-list mt-5">
      <div class="container-fluid p-0">
        <div class="row">
          <div class="single-file" *ngFor="let artwork of artworks; let i = index"
            class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
            <div class="container-fluid p-0">
              <div class="card" *ngIf="artwork.type == 'image'">
                <img class="artwork-image img-fluid" src="{{artwork.url}}" alt="">
              </div>
              <div class="card" *ngIf="artwork.type == 'video'">
                <vg-player (onPlayerReady)="onPlayerReady($event)">
                  <vg-buffering></vg-buffering>
                  <vg-controls>
                    <vg-play-pause></vg-play-pause>
                    <vg-playback-button></vg-playback-button>
                    <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
                    <vg-scrub-bar>
                      <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                      <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                    </vg-scrub-bar>
                    <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
                    <vg-mute></vg-mute>
                    <vg-volume></vg-volume>
                    <vg-fullscreen></vg-fullscreen>
                  </vg-controls>
                  <video #media [vgMedia]="media" [src]="video" id="singleVideo" preload="auto" crossorigin>
                  </video>
                </vg-player>
              </div>
              <h4 class="name">
                {{ artwork?.name }}
              </h4>
              <div class="info mt-1" *ngIf="artwork.percentage | async as pct">
                <span><progress class="progress is-info" [value]="pct" max="100"></progress><small>
                    {{ pct | number }}%</small></span>
              </div>
              <p class="size" *ngIf="(artwork.bytes | async) as snap">
                Uploading {{artwork.bytes.bytesTransferred }} of {{ artwork.bytes.bytesTransferred }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
