<div class="artwork-item">
  <div class="container-fluid p-0">
    <div class="card" *ngIf="work.type == 'image'">
      <img class=" img-fluid artwork-image" src="{{work.url}}" alt="">
    </div>
    <div class="card" *ngIf="work.type == 'video'">
      <vg-player (onPlayerReady)="onPlayerReady($event)">
        <vg-buffering></vg-buffering>
        <vg-controls>
          <vg-play-pause></vg-play-pause>
          <vg-playback-button></vg-playback-button>
          <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
          <vg-scrub-bar>
            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
            <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
          </vg-scrub-bar>
          <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
          <vg-mute></vg-mute>
          <vg-volume></vg-volume>
          <vg-fullscreen></vg-fullscreen>
        </vg-controls>
        <video #media [vgMedia]="media" [src]="video" id="singleVideo" preload="auto"
         (mouseover)="onMouseOver()" (mouseout)="onMouseOut()" crossorigin>
        </video>
      </vg-player>
    </div>
  </div>
</div>
