<!-- <div class="custom-navbar">
  <nav class="navbar navbar-expand-sm navbar-dark d-flex flex-row" id="navbar">
    <img src="assets/images/gallery/logo.png" alt="">
    <button class="btn btn-dark mr-3 navbar-toggler d-lg-none" data-toggle="collapse" data-target="#collapsibleNavId"
      aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse mr-5" id="collapsibleNavId">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/project/home']">Home</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" [routerLink]="['/project/call']">The Call</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" [routerLink]="['/project/campaign']">The Campaign</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/project/featured']">Featured</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" [routerLink]="['/project/team']">The Team</a>
        </li>
        <button class="nav-item">
          <a class="nav-link" [routerLink]="['/project/submit']">Submit</a>
        </button>
      </ul>
    </div>
  </nav>
</div> -->


<div class="custom-navbar">
  <nav ngxNavbarDynamicExpand class="navbar-light bg-light">
    <img src="assets/images/gallery/logo.png" alt="">
    <button class="navbar-toggler" type="button" (click)="collapse.toggle()" aria-controls="main-nav"
      aria-expanded="false" aria-label="Navigáció kapcsoló">
      <span class="navbar-toggler-icon d-flex align-items-center justify-content-center">
      </span>
    </button>
    <ngx-navbar-collapse id="main-nav" #collapse="ngxNavbarCollapse">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/project/home']">Home</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" [routerLink]="['/project/call']">The Call</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" [routerLink]="['/project/campaign']">The Campaign</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/project/gallery']">Gallery</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link mr-3" [routerLink]="['/project/team']">The Team</a>
        </li>
        <button class=" btn btn-primary nav-item " (click)="goToSubmitArtworks()">
          Submit
        </button>
      </ul>
    </ngx-navbar-collapse>
  </nav>
</div>
