.custom-navbar {
  background-color: white;
  size: 3em;
  background-color: transparent;
  color: black;
  font-weight: bolder;

  li a {
    color: black;
    font-weight: bolder;
  }

  .activeLink {
    background-color: lightgray;
   
  }

  li a:hover {
    color: white;
    background-color: teal;
  }

  li a:active {
    color: white;
  }

  .hand:hover {
    cursor: pointer;
    cursor: hand;
  }

  #main-nav button {
    color: white;
    background-color: teal;
    border: none;
    width: 100px;
  }

  img {
    width: 200px;
  }

  .auth-btn {
    button {
      color: white;
      background-color: teal;
    }
  }

}
