<div class="custom-navbar">
  <nav ngxNavbarDynamicExpand class="navbar-light bg-light">
    <img src="assets/images/gallery/logo.png" alt="">
    <button class="navbar-toggler" type="button" (click)="collapse.toggle()" aria-controls="main-nav"
      aria-expanded="false" aria-label="Navigáció kapcsoló">
      <span class="navbar-toggler-icon d-flex align-items-center justify-content-center">
      </span>
    </button>
    <ngx-navbar-collapse id="main-nav" #collapse="ngxNavbarCollapse">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/project/about']" routerLinkActive="active">About Us</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" [routerLink]="['/project/guidelines']" routerLinkActive="active">Participation Guidelines</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" [routerLink]="['/project/stories']" routerLinkActive="active">Spotlight Stories</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" [routerLink]="['/project/gallery']"   routerLinkActive="active" 
          [routerLinkActiveOptions]="{exact:true}">Gallery</a>
        </li> -->
        <li class="nav-item ">
          <a class="nav-link mr-3" [routerLink]="['/project/team']" routerLinkActive="active">The Team</a>
        </li>
        <button class=" btn btn-primary nav-item " (click)="goToSubmitArtworks()">
          Submit
        </button>
      </ul>
    </ngx-navbar-collapse>
  </nav>
  <ngx-loading-bar ref="router" [includeSpinner]="false" ></ngx-loading-bar>
</div>
