<div class="team py-5">
  <div class="team-landing">

  </div>
  <div class="container py-5">
    <h3>THE TEAM</h3>
    <hr class="hr-rule mt-1">
    <div class="host">
      <div class="team">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mt-3" *ngFor="let host of hosts">
            <div class="p-5">
              <img class="img-fluid" [src]="host.img">
            </div>
            <div class="host-info">
              <div class="card">
                <div class="p-3">
                  <h4 class="name"><strong>{{host.name}}</strong></h4>
                  <p class="bio">{{host.bio.substring(0, 100)}} <strong>. . .</strong></p>
                  <button class="btn bt" (click)="lauchHostModal(host)">Read More</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="partners py-5">
    <div class="container">
      <h3>PARTNERS</h3>
      <hr class="hr-rule mt-1">
      <div class="host">
        <div class="mcf_logo">
          <a href="https://africanartincontext.com/">
            <img src="assets/images/mcf_logo.png" alt=""></a>
        </div>
      </div>
    </div>
  </div>
</div>
