<div class="filter-artworks">
    <div class="filtering-table">
      <div class="table-responsive">
        <table class="table">
          <tr>
            <th align="center">No.</th>
            <th align="center">Artwork</th>
            <th align="center">Title</th>
            <th align="center">Description</th>
            <th align="center">Subject Consent</th>
            <th align="center">Artist Consent</th>
            <th align="center">Date</th>
            <th align="center">Name</th>
            <th align="center">Country</th>
            <th align="center">Category</th>
            <th align="center">Action</th>
          </tr>
          <tr [ngStyle]="follow ? {'background-color': 'lightgray'} : {'background-color': 'white'}">
            <td>
              <!-- <p>{{i}}</p> -->
            </td>
            <td>
              <div class="filtering-image">
                <div *ngIf="artwork.type == 'image'">
                  <img  src="{{url}}" alt="">
                </div>
                <div *ngIf="artwork.type == 'video'">
                  <vg-player (onPlayerReady)="onPlayerReady($event)">
                    <vg-buffering></vg-buffering>
                    <vg-controls>
                      <vg-play-pause></vg-play-pause>
                      <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
                      <vg-fullscreen></vg-fullscreen>
                    </vg-controls>
                    <video #media [vgMedia]="media" [src]="url" id="singleVideo" preload="auto" crossorigin>
                    </video>
                  </vg-player>
                </div>
              </div>
            </td>
            <td>
              <p>{{artwork.title}}</p>
            </td>
            <td>
              <p>{{artwork.description}}</p>
            </td>
            <td class="pdf" width="20%">
              <pdf-viewer [show-all]="false"  style="display: block; width: 200px;" [fit-to-page]="false" [src]="subjectConsent" [original-size]="false"></pdf-viewer>
            </td>
            <td class="pdf">
              <pdf-viewer [show-all]="false"  style="display: block; width: 200px;" [fit-to-page]="false" [src]="artistConsent" [original-size]="false"></pdf-viewer>
            </td>
            <td>
              <p>{{date}}</p>
            </td>
            <td>
              <p>{{name}}</p>
            </td>
            <td>
              <p>{{country}}</p>
            </td>
            <td>
              <p>{{category}}</p>
            </td>
            <td>
              <div class="d-flex">
                <button class="btn mx-1" (click)="declineArtwork()">Decline</button>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  