<div class="exhibition-view  my-3 py-3">
  <div class="container">
    <div class="row">
      <div class="main-exhibition">
        <div class="card">
          <div class="card-body p-0">
            <div class="img-fluid">
              <!-- <lib-ngx-image-zoom [thumbImage]="artwork.url" [fullImage]="artwork.url"></lib-ngx-image-zoom> -->
              <img class="exhibition-image" src="{{artwork.url}}" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
