<div class="dashboard">
   <div class="container">
    <div class="row">
        <div class="col-md-4 my-3" [routerLink]="['/main/artists']">
            <div class="card">

            </div>
            <div class="module-desc">
                <p class="module-title" >Categories</p>
                <p class="module description" >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error accusantium, rerum quia, veniam ratione est facilis sint nobis aspernatur tempore molestiae unde labore suscipit deserunt, tenetur corrupti distinctio. Earum, quos.</p>
            </div>
        </div>
        <div class="col-md-4 my-3" [routerLink]="['/main/categories']" >
            <div class="card">

            </div>
            <div class="module-desc">
                <p class="module-title" >Categories</p>
                <p class="module description" >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error accusantium, rerum quia, veniam ratione est facilis sint nobis aspernatur tempore molestiae unde labore suscipit deserunt, tenetur corrupti distinctio. Earum, quos.</p>
            </div>
        </div>
        <div class="col-md-4 my-3" [routerLink]="['/main/events']" >
            <div class="card">

            </div>
            <div class="module-desc">
                <p class="module-title" >Categories</p>
                <p class="module description" >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error accusantium, rerum quia, veniam ratione est facilis sint nobis aspernatur tempore molestiae unde labore suscipit deserunt, tenetur corrupti distinctio. Earum, quos.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 my-3" [routerLink]="['/main/contests']" >
            <div class="card">

            </div>
            <div class="module-desc">
                <p class="module-title" >Categories</p>
                <p class="module description" >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error accusantium, rerum quia, veniam ratione est facilis sint nobis aspernatur tempore molestiae unde labore suscipit deserunt, tenetur corrupti distinctio. Earum, quos.</p>
            </div>
        </div>
        <div class="col-md-4 my-3" [routerLink]="['/main/artworks']" >
            <div class="card">

            </div>
            <div class="module-desc">
                <p class="module-title" >Categories</p>
                <p class="module description" >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error accusantium, rerum quia, veniam ratione est facilis sint nobis aspernatur tempore molestiae unde labore suscipit deserunt, tenetur corrupti distinctio. Earum, quos.</p>
            </div>
        </div>
        <div class="col-md-4 my-3" [routerLink]="['/main/curators']" >
            <div class="card">

            </div>
            <div class="module-desc">
                <p class="module-title" >Categories</p>
                <p class="module description" >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error accusantium, rerum quia, veniam ratione est facilis sint nobis aspernatur tempore molestiae unde labore suscipit deserunt, tenetur corrupti distinctio. Earum, quos.</p>
            </div>
        </div>
    </div>
   </div>
</div>