.home {
  height: 100%;
  min-height: 100vh;

  img {
    width: 100%;
  }

  h3 {
    font-size: 2.0em;
  }

  .introduction {
    background-color: whitesmoke;
    h3 {
      text-align: center;
    }
    p {
      text-align: center;
    }
  }

  .home-bg {
    background-image: url('/assets/images/gallery/sample/cobler1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .home-landing {
    height: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;

    .home-heading {
      color: white;
      padding: 5%;

      .home-info {
        background-color: rgba(0, 0, 0, 0.6);
        width: 90%;
        margin: 0 auto;
        margin-top: 200px;
        h3 {
          word-wrap: break-word;
          font-size: 4em;
        }
      }

      button {
        align-content: center;
        border-radius: 250px 750px 250px 750px / 750px 250px 750px 250px;
        height: 60px;
        border: 3px solid;
        background-color: transparent;
        color: orange;
        font-weight: bolder;
        border-image-slice: 1;
        border-image-source: linear-gradient(to right, orangered 0%, orange 100%);

      }

      // button:hover {
      //   border-image-source: linear-gradient(to right, orangered 0%, orange 100%);
      // }


    }
  }

  .countries {
    background-color: whitesmoke;
    h3 {
      text-align: center;
    }
    .country {
      width: 90%;
      text-align: center;
      img {
        margin: 0 auto;
        width: 50px;
      }

      p{
        text-align: center;
      }
    }
  }

  footer {
    background-color: #1b1b1b;
  
    img {
      margin: 0 auto;
      width: 100px;
    }
  }
  
}
