<div class="home" (window:resize)="onResize($event)">
  <div class="home-bg">
    <div class="home-landing">
      <div class="container-fluid p-0">
        <div class="home-heading">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">

            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
              <div class="home-info p-3">
                <h3 [style.font-size.em]="headingSize">ARE YOU A PHOTOGRAPHER OR A VIDEOGRAPHER?</h3>
                <p>What’s your COVID-19 story?
                  We’re looking for photo and video submissions that showcase African resilience in the wake of the
                  pandemic.
                </p>
                <button class="btn btn-primary" [routerLink]="['/project/guidelines']">SHARE YOUR STORY </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="introduction p-5">
    <div class="about p-3">
      <h3 class="about-title mb-0">ABOUT</h3>
      <hr class="hr-rule mt-1">
    </div>
    <div class="container">
      <p>
        <!-- This is an information, education, and communication activity run by Bobby Pall Photography in partnership with
        Mastercard Foundation in the form of a photography and videography campaign in a bid to increase awareness on
        how to deal with the COVID-19 pandemic. In September 2020, the total number of confirmed COVID-19 cases in
        Africa
        surpassed 1.4 million. The pandemic has continued to cause major disruptions in the daily lives of Africans.
        In the wake of this world-wide havoc, the Youth of Africa though greatly impacted from several perspectives
        including education and unemployment, have shown remarkable resilience through creative art. Many have taken
        up photography and videography to tell stories around their day-to-day lives, the challenges of social
        distancing and wearing masks in a society that is highly social in nature. -->

        A global pandemic dramatically reshaped the world, our continent, and all our lives. But amid the disruption,
        we’ve also seen hope. Innovators rising to respond to the challenges. Communities stepping up to practice the
        precautions required. Each of us doing what we can, and what we must, to keep going. Safely.

        The African Art in Context Call for Submissions seeks to tell those stories. Too often in crises, the narrative
        surrounding Africa is dominated by inordinate fear and negativity. This is our chance to shape a narrative that
        showcases to the world what we see everyday: the resilience, ingenuity, and beauty of a continent that is
        navigating COVID-19 with courage, commitment, and compassion.

      </p>
    </div>
  </div>

  <!-- <div class="covid-hq">
    <div class="container">
      <div class="covid-hq-info py-5">
        <h4 class="join"><span class="because">Because</span> <strong class="hashtag"> #ItsUpToUs. </strong>Be part of
        </h4>
        <div class="covid-hq">
          <a href="http://www.covidhqafrica.com/">
            <img src="assets/images/covidhqlogo.png" alt="">
          </a>
        </div>
      </div>
    </div>
  </div> -->

  <div class="submission p-5">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 mt-3">
          <img src="assets/images/gallery/sample/poster6.jpg">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 mt-3">
          <h3>CALL FOR SUBMISSION</h3>
          <hr class="hr-rule mt-1">
          <ul class="list-unstyled">
            <li><strong>Dates:</strong> 9th October – 30th November 2020</li>
            <li><strong>Theme:</strong> African Resilience in the Wake of a Pandemic</li>
            <li><strong>Eligibility:</strong> 18 – 35 years</li>
            <li><strong>Categories: </strong> Photography and Videography</li>
            <li><strong>Participating Countries:</strong> Africa telling her stories of resilience during the pandemic
            </li>
            <li><strong>Recognition:</strong> USD $100 for every selected image and USD 200 for every selected video
            </li>
            <li><strong>Organisation:</strong> Bobby Pall Photography in partnership with Mastercard Foundation </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="countries py-5">
    <div class="container">
      <hr class="hr-rule mt-1">
      <div class="campaign-video">
        <h3 class="mb-5 text-center">The Spotlight</h3>
        <div class="spotlight-video">
          <vg-player (onPlayerReady)="onPlayerReady($event)" vg-theme="controller.config.theme.url">
            <vg-buffering></vg-buffering>         
            <vg-controls>
              <vg-play-pause>Play</vg-play-pause>
              <vg-playback-button></vg-playback-button>
              <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
              <vg-scrub-bar>
                <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
              </vg-scrub-bar>
              <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
              <vg-mute></vg-mute>
              <vg-volume></vg-volume>
              <vg-fullscreen></vg-fullscreen>
            </vg-controls>
            <video #media [vgMedia]="media" [src]="video" id="singleVideo" (mouseover)="onMouseOver()"
              (mouseout)="onMouseOut()" preload="auto" crossorigin>
            </video>
          </vg-player>

        </div>
      </div>
    </div>
  </div>
</div>
