<div class="gallery-site">
  <div class="landing">
    <div class="text-center gallery-name">
      <p class="display-4"><strong>African Atz</strong></p>
      <h3>Contemporary Virtual Gallery</h3>
    </div>
  </div>
  <div class="short-info">
    <div class="container pl-0">
      <div class="row ">
        <div class="col-md-4 pr-0 mt-3">
          <div class="contest-enterance">
            <div class="card">
              <img src="" alt="">
              <div class="info">
                <p>Get feedback from the world's leading photographers</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 pr-0 mt-3">
          <div class="contest-feedback">
            <div class="card">
              <img src="" alt="">
              <div class="info">
                <p>Get feedback from the world's leading photographers</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 pr-0 mt-3">
          <div class="contest-connection">
            <div class="card">
              <img src="" alt="">
              <div class="info">
                <p>Connect with a global communities of photographers</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="about">
    <div class="container pl-0 pr-0">
      <div class="row">
        <div class="col-md-6">
          <p class="display-4 text-center">The Inspiration</p>
          <p>
            About us in two o three paragraphs,
            About us in two o three paragraphs,
            About us in two o three paragraphs,
            About us in two o three paragraphs,
            About us in two o three paragraphs,
            About us in two o three paragraphs,
            About us in two o three paragraphs,
            About us in two o three paragraphs,
          </p>
        </div>
        <div class="col-md-6">

        </div>
      </div>
    </div>
  </div>
  <div class="spotlight">
    <div class="container">
      <p class="display-4 text-center">The Spotlight</p>
      <div class="spotlight-video">
        <vg-player (onPlayerReady)="onPlayerReady($event)">
          <vg-buffering></vg-buffering>
          <vg-controls>
            <vg-play-pause></vg-play-pause>
            <vg-playback-button></vg-playback-button>

            <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

            <vg-scrub-bar>
              <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
              <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
            </vg-scrub-bar>

            <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

            <vg-mute></vg-mute>
            <vg-volume></vg-volume>

            <vg-fullscreen></vg-fullscreen>
          </vg-controls>

          <video #media [vgMedia]="media" [src]="currentItem.src" id="singleVideo" preload="auto" crossorigin>
          </video>
        </vg-player>
        <ul>
          <li *ngFor="let item of playlist; let $index = index" (click)="onClickPlaylistItem(item, $index)"
            [class.selected]="item === currentItem">
          </li>
        </ul>
      </div>

    </div>
  </div>
  <div class="host">
    <div class="container">
      <div class="host-partners">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide *ngFor="let host of hosts" [id]="host.id">
            <div class="m-5">
              <img [src]="host.flag" [alt]="host.alt" [title]="host.title">
              <h3>{{host.name}}</h3>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
      <div class="sponsor-name m-5">
        <img src="assets/images/mc_logo.png" alt="">
        <p class="partnership">Sponsored by</p>
        <h3>The MasterCard Foundation</h3>
      </div>
    </div>
  </div>
  <!-- <div class="container subscribe">
    <div class="subscription-form">
      <form action="">
        <div class="btn-group">
          <div class="card p-3 mt-5">
            <div class="card">
              <div class="form-group">
                <input type="email" name="email" placeholder="Enter your email address" class="form-control" [(ngModel)]="user.email" required>
                <button class="btn btn-primary">Subscribe</button>
              </div>
            </div>
          </div>
        </div>
        <p>Subscribe to our mailing list</p>
      </form>
    </div>
  </div> -->
  <div class="footer">
    <footer></footer>
  </div>
</div>
