<div class="scored-artworks">
  <div class="scored-item">
    <div class="table-responsive" *ngIf="scoredItem">
      <table class="table">
        <tr>
          <th align="center">No.</th>
          <th align="center">Date</th>
          <th align="center">Name</th>
          <th align="center">Country</th>
          <th align="center">Category</th>
          <th align="center">Score</th>
          <th align="center">Action</th>
        </tr>
        <tr>
          <td>
            <p>{{no}}</p>
          </td>
          <td>
            <p>{{scoredItem.date}}</p>
          </td>
          <td>
            <p>{{scoredItem.name}}</p>
          </td>
          <td>
            <p>{{scoredItem.country}}</p>
          </td>
          <td>
            <p>{{scoredItem.category}}</p>
          </td>
          <td>
            <p>{{scoredItem.totalScore}}</p>
          </td>
          <td>
            <div class="d-flex">
              <button class="btn mx-1">Spotlight</button>
              <button class="btn mx-1">Exhibit</button>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
