<div class="score pt-3 pb-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-9">
        <div class="artwork">
          <div class="artwork-media">
            <div class="card" *ngIf="work.type == 'image'">
              <img class="img-fluid" src="{{work.url}}" alt="">
            </div>
            <div class="card" *ngIf="work.type == 'video'">
              <vg-player (onPlayerReady)="onPlayerReady($event)">
                <vg-buffering></vg-buffering>
                <vg-controls>
                  <vg-play-pause></vg-play-pause>
                  <vg-playback-button></vg-playback-button>
                  <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
                  <vg-scrub-bar>
                    <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                    <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                  </vg-scrub-bar>
                  <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
                  <vg-mute></vg-mute>
                  <vg-volume></vg-volume>
                  <vg-fullscreen></vg-fullscreen>
                </vg-controls>
                <video #media [vgMedia]="media" [src]="video" id="singleVideo" preload="auto" crossorigin>
                </video>
              </vg-player>
            </div>
            <div class="container">
              <div class="accordion-action-buttons my-4">
                <button class="btn mx-3" (click)="accordion.openAll()">Expand All</button>
                <button class="btn mx-3" (click)="accordion.closeAll()">Collapse All</button>
              </div>
              <mat-accordion class="accordion-headers-align" multi>
                <mat-expansion-panel hideToggle="true" #rules>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <h4>ARTWORK DETAILS</h4>
                    </mat-panel-title>

                  </mat-expansion-panel-header>
                  <div class="artwork-info mt-3">
                    <div class="row">
                      <div class="col-xs-12 col-12-sm col-md-6">
                        <div class="card p-3">
                          <div class="artwork-title">
                            <h5><strong>Title</strong></h5>
                            <p>{{work.title}}</p>
                          </div>
                          <div class="artwork-description">
                            <h5><strong>Decription</strong></h5>
                            <p>{{work.description}}</p>
                          </div>
                          <div class="artwork-description">
                            <h5> <strong>Date Shot</strong></h5>
                            <p>{{date}}</p>
                          </div>
                          <div class="artwork-description">
                            <h5><strong>Place</strong></h5>
                            <p> {{work.place}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-expansion-panel>
                <mat-expansion-panel hideToggle="true" #rules>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <h4>INTERVIEW ANSWERS</h4>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="artwork-interview mt-3">
                    <div class="row">
                      <div class="col-xs-12 col-12-sm col-md-6">
                        <div class="card p-3">
                          <div class="challanges">
                            <h5><strong>Tell us challenges encountered in the process of taking
                                this video/photo</strong> </h5>
                            <p>{{interview.challenges}}</p>
                          </div>
                          <div class="experience">
                            <h5><strong>What are some of the challenges you encountered
                                in the process of taking the photo(s)/video? </strong></h5>
                            <p>{{interview.experience}}</p>
                          </div>
                          <div class="life-before">
                            <h5><strong>Tell us your experience in the process of taking this
                                video/photo</strong></h5>
                            <p>{{interview.lifeBefore}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
            <div class="artwork-info mt-3">
              <div class="row">
                <div class="col-xs-12 col-12-sm col-md-6">
                  <div class="card p-3">
                    <div class="artwork-title">
                      <h5><strong>Title</strong></h5>
                      <p>{{work.title}}</p>
                    </div>
                    <div class="artwork-description">
                      <h5><strong>Decription</strong></h5>
                      <p>{{work.description}}</p>
                    </div>
                    <div class="artwork-description">
                      <h5> <strong>Date Shot</strong></h5>
                      <p>{{work.shotDate}}</p>
                    </div>
                    <div class="artwork-description">
                      <h5><strong>Place</strong></h5>
                      <p> {{work.place}}</p>
                    </div>
                  </div>
                </div>
              </div>              
            </div>
            <div class="artwork-interview mt-3">
              <div class="row">
                <div class="col-xs-12 col-12-sm col-md-6">
                  <div class="card p-3">
                    <div class="challanges">
                      <h5><strong>Challenges</strong> </h5>
                      <p>{{interview.challenges}}</p>
                    </div>                
                    <div class="experience">
                      <h5><strong>Experience </strong></h5>
                      <p>{{interview.experience}}</p>
                    </div>
                    <div class="life-before">
                      <h5><strong>Routine prior to
                        Covid - 19</strong></h5>
                      <p>{{interview.lifeBefore}}</p>
                    </div>
                  </div>
                </div>
              </div>              
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-3">
        
        <div class="score-forms">
          <div class="photo-score-form" *ngIf="work.type == 'image'">
            <form class="form-group" #photoScoresForm="ngForm" (ngSubmit)="onSubmit(photoScoresForm)" novalidate>
              <div class="card p-3">
                <h3>TECHNIQUE</h3>
                <table>
                  <tr>
                    <th></th>
                    <th align="center">2</th>
                    <th align="center">4</th>
                    <th align="center">6</th>
                    <th align="center">8</th>
                    <th align="center">10</th>
                  </tr>
                  <tr>
                    <td>Composition</td>
                    <td align="center">
                      <input type="radio" class="form-control" name="composition" [(ngModel)]="composition.poor"
                        [value]="poor" [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="fair" name="composition"
                        [(ngModel)]="composition.fair" [value]="fair" [checked]="false"
                        (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="satisfactory" name="composition"
                        [(ngModel)]="composition.satisfactory" [value]="satisfactory" [checked]="false"
                        (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="good" name="composition"
                        [(ngModel)]="composition.good" [value]="good" [checked]="false"
                        (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="excellent" name="composition"
                        [(ngModel)]="composition.excellent" [value]="excellent" [checked]="false"
                        (change)="onItemChange($event.target.value)">
                    </td>
                  </tr>
                  <tr>
                    <td>Lighting</td>
                    <td align="center">
                      <input type="radio" class="form-control" name="lighting" [(ngModel)]="lighting.poor"
                        [value]="poor" [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="fair" name="lighting" [(ngModel)]="lighting.fair"
                        [value]="fair" [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="satisfactory" name="lighting"
                        [(ngModel)]="lighting.satisfactory" [value]="satisfactory" [checked]="false"
                        (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="good" name="lighting" [(ngModel)]="lighting.good"
                        [value]="good" [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="excellent" name="lighting"
                        [(ngModel)]="lighting.excellent" [value]="excellent" [checked]="false"
                        (change)="onItemChange($event.target.value)">
                    </td>
                  </tr>
                  <tr>
                    <td>Clarity</td>
                    <td align="center">
                      <input type="radio" class="form-control" name="clarity" [(ngModel)]="clarity.poor" [value]="poor"
                        [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="fair" name="clarity" [(ngModel)]="clarity.fair"
                        [value]="fair" [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="satisfactory" name="clarity"
                        [(ngModel)]="clarity.satisfactory" [value]="satisfactory" [checked]="false"
                        (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="good" name="clarity" [(ngModel)]="clarity.good"
                        [value]="good" [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="excellent" name="clarity"
                        [(ngModel)]="clarity.excellent" [value]="excellent" [checked]="false"
                        (change)="onItemChange($event.target.value)">
                    </td>
                  </tr>
                </table>
              </div>

              <div class="card p-3">
                <h3>CREATIVITY</h3>
                <table>
                  <tr>
                    <th></th>
                    <th align="center">2</th>
                    <th align="center">4</th>
                    <th align="center">6</th>
                    <th align="center">8</th>
                    <th align="center">10</th>
                  </tr>
                  <tr>
                    <td>Theme</td>
                    <td align="center">
                      <input type="radio" class="form-control" name="theme" [(ngModel)]="theme.poor" [value]="poor"
                        [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="fair" name="theme" [(ngModel)]="theme.fair"
                        [value]="fair" [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="satisfactory" name="theme"
                        [(ngModel)]="theme.satisfactory" [value]="satisfactory" [checked]="false"
                        (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="good" name="theme" [(ngModel)]="theme.good"
                        [value]="good" [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="excellent" name="theme" [(ngModel)]="theme.excellent"
                        [value]="excellent" [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                  </tr>
                  <tr>
                    <td>Uniqueness</td>
                    <td align="center">
                      <input type="radio" class="form-control" name="uniqueness" [(ngModel)]="uniqueness.poor"
                        [value]="poor" [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>                
                    <td align="center">
                      <input type="radio" class="form-control" name="uniqueness" [(ngModel)]="uniqueness.fair"
                        [value]="fair" [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" name="uniqueness" [(ngModel)]="uniqueness.satisfactory"
                       [value]="satisfactory" [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" name="uniqueness" [(ngModel)]="uniqueness.good"
                        [value]="good" [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" name="uniqueness" [(ngModel)]="uniqueness.excellent" 
                      [value]="excellent" [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                  </tr>
                  <tr>
                    <td>Message</td>
                    <td align="center">
                      <input type="radio" class="form-control" name="message" [(ngModel)]="message.poor" [value]="poor"
                        [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="fair" name="message" [(ngModel)]="message.fair"
                        [value]="fair" [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="satisfactory" name="message" [(ngModel)]="message.satisfactory" [value]="satisfactory" [checked]="false"
                        (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="good" name="message" [(ngModel)]="message.good"
                        [value]="good" [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="excellent" name="message"
                        [(ngModel)]="message.excellent" [value]="excellent" [checked]="false"
                        (change)="onItemChange($event.target.value)">
                    </td>
                  </tr>
                  <tr>
                    <td>Impression</td>
                    <td align="center">
                      <input type="radio" class="form-control" name="impression" [(ngModel)]="impression.poor"
                        [value]="poor" [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="fair" name="impression" [(ngModel)]="impression.fair"
                        [value]="fair" [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="satisfactory" name="impression" [(ngModel)]="impression.satisfactory" [value]="satisfactory" [checked]="false"
                        (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="good" name="impression" [(ngModel)]="impression.good"
                        [value]="good" [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="excellent" name="impression"
                        [(ngModel)]="impression.excellent" [value]="excellent" [checked]="false"
                        (change)="onItemChange($event.target.value)">
                    </td>
                  </tr>
                </table>
              </div>

              <div class="card p-3">
                <h3>WOW FACTOR</h3>
                <table>
                  <tr>
                    <th></th>
                    <th align="center">2</th>
                    <th align="center">4</th>
                    <th align="center">6</th>
                    <th align="center">8</th>
                    <th align="center">10</th>
                  </tr>
                  <tr>
                    <td>Inspirational</td>
                    <td align="center">
                      <input type="radio" class="form-control" name="inspirational" [(ngModel)]="inspirational.poor"
                        [value]="poor" [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="fair" name="inspirational"
                        [(ngModel)]="inspirational.fair" [value]="fair" [checked]="false"
                        (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="satisfactory" name="inspirational"
                        [(ngModel)]="inspirational.satisfactory" [value]="satisfactory" [checked]="false"
                        (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="good" name="inspirational"
                        [(ngModel)]="inspirational.good" [value]="good" [checked]="false"
                        (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="excellent" name="inspirational"
                        [(ngModel)]="inspirational.excellent" [value]="excellent" [checked]="false"
                        (change)="onItemChange($event.target.value)">
                    </td>
                  </tr>
                  <tr>
                    <td>Impact</td>
                    <td align="center">
                      <input type="radio" class="form-control" name="impact" [(ngModel)]="impact.poor" [value]="poor"
                        [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="fair" name="impact" [(ngModel)]="impact.fair"
                        [value]="fair" [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="satisfactory" name="impact"
                        [(ngModel)]="impact.satisfactory" [value]="satisfactory" [checked]="false"
                        (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="good" name="impact" [(ngModel)]="impact.good"
                        [value]="good" [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="excellent" name="impact"
                        [(ngModel)]="impact.excellent" [value]="excellent" [checked]="false"
                        (change)="onItemChange($event.target.value)">
                    </td>
                  </tr>
                  <tr>
                    <td>Details</td>
                    <td align="center">
                      <input type="radio" class="form-control" name="details" [(ngModel)]="details.poor" [value]="poor"
                        [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="fair" name="details" [(ngModel)]="details.fair"
                        [value]="fair" [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="satisfactory" name="details"
                        [(ngModel)]="details.satisfactory" [value]="satisfactory" [checked]="false"
                        (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="good" name="details" [(ngModel)]="details.good"
                        [value]="good" [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="excellent" name="details"
                        [(ngModel)]="details.excellent" [value]="excellent" [checked]="false"
                        (change)="onItemChange($event.target.value)">
                    </td>
                  </tr>
                </table>
              </div>
              <div class="mt-5">
                <div class="next">
                  <div class="form-group mb-0">
                    <button type="submit" class="btn btn-light">Submit Scores<strong></strong>
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="video-score-form" *ngIf="work.type == 'video'">
            <form class="form-group" #videoScoresForm="ngForm" (ngSubmit)="onSubmit(videoScoresForm)" novalidate>
              <div class="card p-3">
                <h3>TECHNICAL</h3>
                <table>
                  <tr>
                    <th></th>
                    <th align="center">2</th>
                    <th align="center">4</th>
                    <th align="center">6</th>
                    <th align="center">8</th>
                    <th align="center">10</th>
                  </tr>
                  <tr>
                    <td>Picture Clarity</td>
                    <td align="center">
                      <input type="radio" class="form-control" name="composition" [(ngModel)]="composition.poor"
                        [value]="poor" [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="fair" name="composition"
                        [(ngModel)]="composition.fair" [value]="fair" [checked]="false"
                        (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="satisfactory" name="composition"
                        [(ngModel)]="composition.satisfactory" [value]="satisfactory" [checked]="false"
                        (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="good" name="composition"
                        [(ngModel)]="composition.good" [value]="good" [checked]="false"
                        (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="excellent" name="composition"
                        [(ngModel)]="composition.excellent" [value]="excellent" [checked]="false"
                        (change)="onItemChange($event.target.value)">
                    </td>
                  </tr>
                  <tr>
                    <td>Picture Clarity</td>
                    <td align="center">
                      <input type="radio" class="form-control" name="pictureClarity" [(ngModel)]="pictureClarity.poor"
                        [value]="poor" [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="fair" name="pictureClarity"
                        [(ngModel)]="pictureClarity.fair" [value]="fair" [checked]="false"
                        (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="satisfactory" name="pictureClarity"
                        [(ngModel)]="pictureClarity.satisfactory" [value]="satisfactory" [checked]="false"
                        (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="good" name="pictureClarity"
                        [(ngModel)]="pictureClarity.good" [value]="good" [checked]="false"
                        (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="excellent" name="pictureClarity"
                        [(ngModel)]="pictureClarity.excellent" [value]="excellent" [checked]="false"
                        (change)="onItemChange($event.target.value)">
                    </td>
                  </tr>
                  <tr>
                    <td>Audio Clarity</td>
                    <td align="center">
                      <input type="radio" class="form-control" name="audioClarity" [(ngModel)]="audioClarity.poor"
                        [value]="poor" [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="fair" name="audioClarity"
                        [(ngModel)]="audioClarity.fair" [value]="fair" [checked]="false"
                        (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="satisfactory" name="audioClarity"
                        [(ngModel)]="audioClarity.satisfactory" [value]="satisfactory" [checked]="false"
                        (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="good" name="audioClarity"
                        [(ngModel)]="audioClarity.good" [value]="good" [checked]="false"
                        (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="excellent" name="audioClarity"
                        [(ngModel)]="audioClarity.excellent" [value]="excellent" [checked]="false"
                        (change)="onItemChange($event.target.value)">
                    </td>
                  </tr>
                  <tr>
                    <td>Stability</td>
                    <td align="center">
                      <input type="radio" class="form-control" name="stability" [(ngModel)]="stability.poor"
                        [value]="poor" [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="fair" name="stability" [(ngModel)]="stability.fair"
                        [value]="fair" [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="satisfactory" name="stability"
                        [(ngModel)]="stability.satisfactory" [value]="satisfactory" [checked]="false"
                        (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="good" name="stability" [(ngModel)]="stability.good"
                        [value]="good" [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="excellent" name="stability"
                        [(ngModel)]="stability.excellent" [value]="excellent" [checked]="false"
                        (change)="onItemChange($event.target.value)">
                    </td>
                  </tr>
                  <tr>
                    <td>Lighting</td>
                    <td align="center">
                      <input type="radio" class="form-control" name="lighting" [(ngModel)]="lighting.poor"
                        [value]="poor" [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="fair" name="lighting" [(ngModel)]="lighting.fair"
                        [value]="fair" [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="satisfactory" name="lighting"
                        [(ngModel)]="lighting.satisfactory" [value]="satisfactory" [checked]="false"
                        (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="good" name="lighting" [(ngModel)]="lighting.good"
                        [value]="good" [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="excellent" name="lighting"
                        [(ngModel)]="lighting.excellent" [value]="excellent" [checked]="false"
                        (change)="onItemChange($event.target.value)">
                    </td>
                  </tr>
                </table>
              </div>
              <div class="card p-3">
                <h3 class="p-3">Edit</h3>
                <table>
                  <tr>
                    <th></th>
                    <th align="center">2</th>
                    <th align="center">4</th>
                    <th align="center">6</th>
                    <th align="center">8</th>
                    <th align="center">10</th>
                  </tr>
                  <tr>
                    <td>Scene</td>
                    <td align="center">
                      <input type="radio" class="form-control" name="scene" [(ngModel)]="scene.poor"
                        [value]="poor" [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="fair" name="scene" [(ngModel)]="scene.fair"
                        [value]="fair" [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="satisfactory" name="scene"
                        [(ngModel)]="scene.satisfactory" [value]="satisfactory" [checked]="false"
                        (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="good" name="scene" [(ngModel)]="scene.good"
                        [value]="good" [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="excellent" name="scene"
                        [(ngModel)]="scene.excellent" [value]="excellent" [checked]="false"
                        (change)="onItemChange($event.target.value)">
                    </td>
                  </tr>
                  <tr>
                    <td>Execution</td>
                    <td align="center">
                      <input type="radio" class="form-control" name="execution" [(ngModel)]="execution.poor"
                        [value]="poor" [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="fair" name="execution" [(ngModel)]="execution.fair"
                        [value]="fair" [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="satisfactory" name="execution"
                        [(ngModel)]="execution.satisfactory" [value]="satisfactory" [checked]="false"
                        (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="good" name="execution" [(ngModel)]="execution.good"
                        [value]="good" [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="excellent" name="execution"
                        [(ngModel)]="execution.excellent" [value]="excellent" [checked]="false"
                        (change)="onItemChange($event.target.value)">
                    </td>
                  </tr>
                </table>
              </div>
              <div class="card p-3">
                <h3>CREATIVITY</h3>
                <table>
                  <tr>
                    <th></th>
                    <th align="center">2</th>
                    <th align="center">4</th>
                    <th align="center">6</th>
                    <th align="center">8</th>
                    <th align="center">10</th>
                  </tr>
                  <tr>
                    <td>Use of Equipment</td>
                    <td align="center">
                      <input type="radio" class="form-control" name="useOfEquipments" [(ngModel)]="useOfEquipments.poor"
                        [value]="poor" [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="fair" name="useOfEquipments"
                        [(ngModel)]="useOfEquipments.fair" [value]="fair" [checked]="false"
                        (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="satisfactory" name="useOfEquipments"
                        [(ngModel)]="useOfEquipments.satisfactory" [value]="satisfactory" [checked]="false"
                        (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="good" name="useOfEquipments"
                        [(ngModel)]="useOfEquipments.good" [value]="good" [checked]="false"
                        (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="excellent" name="useOfEquipments"
                        [(ngModel)]="useOfEquipments.excellent" [value]="excellent" [checked]="false"
                        (change)="onItemChange($event.target.value)">
                    </td>
                  </tr>
                  <tr>
                    <td>Use of Tecnique</td>
                    <td align="center">
                      <input type="radio" class="form-control" name="useOfTechniques" [(ngModel)]="useOfTechniques.poor"
                        [value]="poor" [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="fair" name="useOfTechniques"
                        [(ngModel)]="useOfTechniques.fair" [value]="fair" [checked]="false"
                        (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="satisfactory" name="useOfTechniques"
                        [(ngModel)]="useOfTechniques.satisfactory" [value]="satisfactory" [checked]="false"
                        (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="good" name="useOfTechniques"
                        [(ngModel)]="useOfTechniques.good" [value]="good" [checked]="false"
                        (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="excellent" name="useOfTechniques"
                        [(ngModel)]="useOfTechniques.excellent" [value]="excellent" [checked]="false"
                        (change)="onItemChange($event.target.value)">
                    </td>
                  </tr>
                </table>
              </div>
              <div class="card p-3">
                <h3>STORY</h3>
                <table>
                  <tr>
                    <th></th>
                    <th align="center">2</th>
                    <th align="center">4</th>
                    <th align="center">6</th>
                    <th align="center">8</th>
                    <th align="center">10</th>
                  </tr>
                  <tr>
                    <td>Overall Message</td>
                    <td align="center">
                      <input type="radio" class="form-control" name="vMessage" [(ngModel)]="vMessage.poor"
                        [value]="poor" [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="fair" name="vMessage" [(ngModel)]="vMessage.fair"
                        [value]="fair" [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="satisfactory" name="vMessage"
                        [(ngModel)]="vMessage.satisfactory" [value]="satisfactory" [checked]="false"
                        (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="good" name="vMessage" [(ngModel)]="vMessage.good"
                        [value]="good" [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="excellent" name="vMessage"
                        [(ngModel)]="vMessage.excellent" [value]="excellent" [checked]="false"
                        (change)="onItemChange($event.target.value)">
                    </td>
                  </tr>
                </table>
              </div>
              <div class="mt-5">
                <div class="next">
                  <div class="form-group mb-0">
                    <button type="submit" class="btn btn-light">Submit Scores<strong></strong>
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
