<div class="score pt-3 pb-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="artwork">
          <div class="artwork-media">
            <div class="card" *ngIf="work.type == 'image'">
              <img class="img-fluid" src="{{work.url}}" alt="">
            </div>
            <div class="card" *ngIf="work.type == 'video'">
              <vg-player (onPlayerReady)="onPlayerReady($event)">
                <vg-buffering></vg-buffering>
                <vg-controls>
                  <vg-play-pause></vg-play-pause>
                  <vg-playback-button></vg-playback-button>
                  <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
                  <vg-scrub-bar>
                    <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                    <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                  </vg-scrub-bar>
                  <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
                  <vg-mute></vg-mute>
                  <vg-volume></vg-volume>
                  <vg-fullscreen></vg-fullscreen>
                </vg-controls>
                <video #media [vgMedia]="media" [src]="video" id="singleVideo" preload="auto" crossorigin>
                </video>
              </vg-player>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="score-forms">
          <div class="photo-score-form" *ngIf="work.type == 'image'">
            <form class="form-group" #photoScoresForm="ngForm" (ngSubmit)="onSubmit(photoScoresForm)" novalidate>
              <div class="card p-3">
                <h3 class="p-3">TECHNIQUE</h3>
                <table>
                  <tr>
                    <th></th>
                    <th align="center">2</th>
                    <th align="center">4</th>
                    <th align="center">6</th>
                    <th align="center">8</th>
                    <th align="center">10</th>
                  </tr>
                  <tr>
                    <td>Composition</td>
                    <td align="center">
                      <input type="radio" class="form-control" name="composition" [(ngModel)]="composition.poor" 
                        [value]="poor" [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="fair" name="composition" [(ngModel)]="composition.fair"
                        [value]="fair" [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="satisfactory" name="composition"
                      [(ngModel)]="composition.satisfactory" [value]="satisfactory" [checked]="false" 
                        (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="good" name="composition" [(ngModel)]="composition.good"
                        [value]="good" [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="excellent" name="composition"
                      [(ngModel)]="composition.excellent" [value]="excellent" [checked]="false" 
                        (change)="onItemChange($event.target.value)">
                    </td>
                  </tr>
                  <tr>
                    <td>Lighting</td>
                    <td align="center">
                      <input type="radio" class="form-control" name="lighting" [(ngModel)]="lighting.poor"
                        [value]="poor" [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="fair" name="lighting" [(ngModel)]="lighting.fair"
                        [value]="fair" [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="satisfactory" name="lighting"
                      [(ngModel)]="lighting.satisfactory" [value]="satisfactory" 
                      [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="good" name="lighting" [(ngModel)]="lighting.good"
                        [value]="good" [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="excellent" name="lighting"
                      [(ngModel)]="lighting.excellent" [value]="excellent" [checked]="false"
                       (change)="onItemChange($event.target.value)">
                    </td>
                  </tr>
                  <tr>
                    <td>Clarity</td>
                    <td align="center">
                      <input type="radio" class="form-control" name="clarity" [(ngModel)]="clarity.poor"
                        [value]="poor" [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="fair" name="clarity" [(ngModel)]="clarity.fair"
                        [value]="fair" [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="satisfactory" name="clarity"
                      [(ngModel)]="clarity.satisfactory" [value]="satisfactory" [checked]="false" 
                      (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="good" name="clarity" [(ngModel)]="clarity.good"
                        [value]="good" [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="excellent" name="clarity"
                      [(ngModel)]="clarity.excellent" [value]="excellent" [checked]="false" 
                      (change)="onItemChange($event.target.value)">
                    </td>
                  </tr>
                </table>
              </div>

              <div class="card p-3 mt-3">
                <h3 class="p-5">CREATIVITY</h3>
                <table>
                  <tr>
                    <th></th>
                    <th align="center">2</th>
                    <th align="center">4</th>
                    <th align="center">6</th>
                    <th align="center">8</th>
                    <th align="center">10</th>
                  </tr>
                  <tr>
                    <td>Theme</td>
                    <td align="center">
                      <input type="radio" class="form-control" name="theme" [(ngModel)]="theme.poor"
                        [value]="poor" [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="fair" name="theme" [(ngModel)]="theme.fair"
                        [value]="fair" [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="satisfactory" name="theme"
                      [(ngModel)]="theme.satisfactory" [value]="satisfactory" [checked]="false" 
                      (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="good" name="theme" [(ngModel)]="theme.good"
                        [value]="good" [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="excellent" name="theme"
                      [(ngModel)]="theme.excellent" [value]="excellent" [checked]="false"
                       (change)="onItemChange($event.target.value)">
                    </td>
                  </tr>
                  <tr>
                    <td>Uniqueness</td>
                    <td align="center">
                      <input type="radio" class="form-control" name="uniqueness" [(ngModel)]="uniqueness.poor"
                        [value]="poor" [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="fair" name="uniqueness" [(ngModel)]="uniqueness.fair"
                        [value]="fair" [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="satisfactory" name="uniqueness"
                      [(ngModel)]="uniqueness.satisfactory" [value]="satisfactory" [checked]="false" 
                      (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="good" name="uniqueness" [(ngModel)]="uniqueness.good"
                        [value]="good" [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="excellent" name="uniqueness"
                      [(ngModel)]="uniqueness.excellent" [value]="excellent" [checked]="false"
                       (change)="onItemChange($event.target.value)">
                    </td>
                  </tr>
                  <tr>
                    <td>Message</td>
                    <td align="center">
                      <input type="radio" class="form-control" name="message" [(ngModel)]="message.poor"
                        [value]="poor" [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="fair" name="message" [(ngModel)]="message.fair"
                        [value]="fair" [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="satisfactory" name="message"
                        ng-model="message.satisfactory" [value]="satisfactory" [checked]="false"
                         (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="good" name="message" [(ngModel)]="message.good"
                        [value]="good" [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="excellent" name="message"
                      [(ngModel)]="message.excellent" [value]="excellent" [checked]="false" 
                      (change)="onItemChange($event.target.value)">
                    </td>
                  </tr>
                  <tr>
                    <td>Impression</td>
                    <td align="center">
                      <input type="radio" class="form-control" name="impression" [(ngModel)]="impression.poor"
                        [value]="poor" [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="fair" name="impression" [(ngModel)]="impression.fair"
                        [value]="fair" [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="satisfactory" name="impression"
                        ng-model="impression.satisfactory" [value]="satisfactory" [checked]="false" 
                        (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="good" name="impression" [(ngModel)]="impression.good"
                        [value]="good" [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="excellent" name="impression"
                      [(ngModel)]="impression.excellent" [value]="excellent" [checked]="false"
                       (change)="onItemChange($event.target.value)">
                    </td>
                  </tr>
                </table>
              </div>

              <div class="card p-3 mt-5">
                <h3 class="p-3">WOW FACTOR</h3>
                <table>
                  <tr>
                    <th></th>
                    <th align="center">2</th>
                    <th align="center">4</th>
                    <th align="center">6</th>
                    <th align="center">8</th>
                    <th align="center">10</th>
                  </tr>
                  <tr>
                    <td>Inspirational</td>
                    <td align="center">
                      <input type="radio" class="form-control" name="inspirational" [(ngModel)]="inspirational.poor"
                        [value]="poor" [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="fair" name="inspirational" [(ngModel)]="inspirational.fair"
                        [value]="fair" [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="satisfactory" name="composition"
                      [(ngModel)]="composition.satisfactory" [value]="satisfactory" [checked]="false"
                       (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="good" name="inspirational" [(ngModel)]="inspirational.good"
                        [value]="good" [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="excellent" name="inspirational"
                      [(ngModel)]="inspirational.excellent" [value]="excellent" [checked]="false"
                       (change)="onItemChange($event.target.value)">
                    </td>
                  </tr>
                  <tr>
                    <td>Impact</td>
                    <td align="center">
                      <input type="radio" class="form-control" name="impact" [(ngModel)]="impact.poor"
                        [value]="poor" [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="fair" name="impact" [(ngModel)]="impact.fair"
                        [value]="fair" [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="satisfactory" name="impact"
                      [(ngModel)]="impact.satisfactory" [value]="satisfactory" [checked]="false" 
                      (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="good" name="impact" [(ngModel)]="impact.good"
                        [value]="good" [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="excellent" name="impact"
                      [(ngModel)]="impact.excellent" [value]="excellent" [checked]="false" 
                      (change)="onItemChange($event.target.value)">
                    </td>
                  </tr>
                  <tr>
                    <td>Details</td>
                    <td align="center">
                      <input type="radio" class="form-control" name="details" [(ngModel)]="details.poor"
                        [value]="poor" [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="fair" name="details" [(ngModel)]="details.fair"
                        [value]="fair" [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="satisfactory" name="details"
                      [(ngModel)]="details.satisfactory" [value]="satisfactory" [checked]="false" 
                      (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="good" name="details" [(ngModel)]="details.good"
                        [value]="good" [checked]="false" (change)="onItemChange($event.target.value)">
                    </td>
                    <td align="center">
                      <input type="radio" class="form-control" id="excellent" name="details"
                      [(ngModel)]="details.excellent" [value]="excellent" [checked]="false" 
                      (change)="onItemChange($event.target.value)">
                    </td>
                  </tr>
                </table>
              </div>
              <div class="mt-5">
                <div class="next">
                  <div class="form-group mb-0">
                    <button type="submit" class="btn btn-light">Submit Scores<strong></strong>
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
