.artworks {
  margin-top: 50px;
  .artwork-item {
    .card {
      width: 100%;
      border: none;
      img {
        width: 100%;
      }
    }
  }
}

.artwork-detail {
    .artwork-media {
      .card {
        width: 100%;
        border: none;
        img {
          width: 100%;
        }
      }
    }

  }