.submission-progress {
  min-height: 100vh;
  max-height: 100vh;
  background: white;
  color: teal;

  .submission-bg {
    width: 50%;
    margin: 0 auto;
    margin-top: 30%;
    margin-bottom: 30%;
    .progress {
      border: none;
      height: 100%;
      .progress-bar {
        color: teal;
        width: 100%;
        height: 4em;
      }
    }
  }
}
