<div class="terms">
  <form #termsForm="ngForm" (ngSubmit)="onSubmit(termsForm)">
    <div class="card p-3 mt-5">
      <div class="card">
        <div class="container-fluid p-0">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>First Name</label>
                <input type="text" name="firstName" class="form-control" [(ngModel)]="firstName" required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Last Name</label>
                <input type="text" name="lastName" class="form-control" [(ngModel)]="lastName" required>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card p-3 mt-5">
        <div class="card">
          <div class="form-group">
            <label>Email</label>
            <input type="email" name="email" class="form-control" [(ngModel)]="email" required>
          </div>
        </div>
      </div>
      <div class="card p-3 mt-5">
        <div class="card">
          <div class="form-group">
            <label>Telephone</label>
            <input type="text" name="telephone" class="form-control" [(ngModel)]="telephone" required>
          </div>
        </div>
      </div>
      <div class="card p-3 mt-5">
        <div class="card">
          <div class="form-group">
            <label>Date</label>
            <input type="email" name="date" class="form-control" [(ngModel)]="date" required>
          </div>
        </div>
      </div>
  </form>

  <div>
    <p>
      By signing this form, I…………………………………………………………………………… (First name, Last name) of ……………………………………………….. (Town or
      City,
      Country) give Bobby Pall Photography and Mastercard Foundation permission to mention, refer to and use
      photograph(s)
      and video(s) submitted by myself publicly in connection with the work and mission of the COVID-19 Public Awareness
      Campaign. I provide Bobby Pall Photography and Mastercard Foundation consent to collect and use:
    </p>
    <ol>

      <li>Photographs and videos submitted by myself;</li>
      <li>My first and last name; location (village/town, district, and country); and</li>
      <li>Quotes from interviews, videos and recordings of myself. </li>
    </ol>

    <strong>Use of Information</strong>
    <p>
      The photographs and videos submitted may be used by Bobby Pall Photography and/or Mastercard Foundation for
      marketing purposes, including communicating the success of Bobby Pall Photography and/or Mastercard Foundation
      programs as well as sharing learning with the broader international community. I agree that Bobby Pall Photography
      and Mastercard Foundation can use the above information on the Bobby Pall Photography and/or Mastercard
      Foundation’s
      websites, the internet, on social media, in publications, photographs, print media, videos, documentaries, and
      podcasts.
    </p>

    <strong>Photographer/Videographer Consent</strong>
    <p>
      You are not obligated to give us your consent nor do you have to tell us anything that you are not comfortable
      communicating publicly. We want to tell your story and represent you in a way that is respectful and dignified. If
      you have any questions or concerns about your consent or the use of your photographs and/or videos, please do not
      hesitate to ask a Bobby Pall Photography representative before signing this form.
    </p>

    You can ask questions about the use of the content at any time by emailing
    <strong>info@africanartincontext.com</strong>, or
    <strong>jngiabi@mastercardfdn.org</strong>.

    <p>
      I have read this form and consent to the collection and use of the information described. I also release Bobby
      Pall
      Photography and Mastercard Foundation from all claims of any kind that I or my heirs, executors, administrators,
      legal representatives, successors or assigns ever had, now have, or may in the future have, arising from,
      connected
      with, or in any way related to the collection or use of the information described.
    </p>
  </div>

  <div class="minors-terms">
    *Please note that any participant under 18 years of age must have a parent or guardian provide consent and release on their behalf.
  </div>
  <div class="minors-consent-form">
    <form>

        <div class="card p-3 mt-5">
            <div class="card">
              <div class="form-group">
                <label>Participant</label>
                <input type="text" name="participant" class="form-control" [(ngModel)]="participant" required>
              </div>
            </div>
          </div>

          <div class="card p-3 mt-5">
            <div class="card">
              <div class="form-group">
                <label>Guardian</label>
                <input type="text" name="guardian" class="form-control" [(ngModel)]="guardian" required>
              </div>
            </div>
          </div>

          <div class="confirm-terms">
            <div class="container p-5">
              <div class="form-check">
                Sign this form by checking the boxes;
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" checked>
                  *I am over 18 years of age and the parent of the minor participant, I consent to the above on their behalf and I agree to be legally bound by the above release.
                </label>
              </div>
              <div class="form-check">
                Sign this form by checking the boxes;
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" checked>
                  I have read the Submission Guidelines and Rules (including the copyright conditions) below and agree to
                  the terms and conditions of the photo(s) and video call for submission.
                </label>
              </div>
            </div>
          </div>
    
          <p>
            The following is required if the consent and release form has to be read to the individual or their parent or legal guardian:
            I certify that I have read this form to the participant or their parent or legal guardian and they have agreed to the terms and conditions.            
          </p>

          <div class="confirm-details">
            <p>{{date}}</p>
            <p>{{name}}</p>
            <p>email</p>
            <p>{{telephone}}</p>
          </div>

      </form>
  </div>
</div>
