<div class="artwork-detail pb-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8 my-3">
        <div class="artwork-media">
          <div class="card" *ngIf="work.type == 'image'">
            <div class="img-fluid">
              <img class="artwork-image" src="{{work.url}}" alt="">
            </div>
          </div>
          <div class="card" *ngIf="work.type == 'video'">
            <vg-player (onPlayerReady)="onPlayerReady($event)">
              <vg-buffering></vg-buffering>
              <vg-controls>
                <vg-play-pause></vg-play-pause>
                <vg-playback-button></vg-playback-button>
                <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
                <vg-scrub-bar>
                  <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                  <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                </vg-scrub-bar>
                <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
                <vg-mute></vg-mute>
                <vg-volume></vg-volume>
                <vg-fullscreen></vg-fullscreen>
              </vg-controls>
              <video #media [vgMedia]="media" [src]="video" id="singleVideo" preload="auto" crossorigin>
              </video>
            </vg-player>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4">
        <div class="artwork-info mt-3">
          <div class="row">
            <div class="col-xs-12 col-12-sm col-md-12">
              <div class="card p-3">
                <div class="artwork-title">
                  <h5><strong>Title</strong></h5>
                  <p>{{work.title}}</p>
                </div>
                <div class="artwork-description">
                  <h5><strong>Decription</strong></h5>
                  <p>{{work.description}}</p>
                </div>
                <div class="artwork-description">
                  <h5> <strong>Date Shot</strong></h5>
                  <p>{{work.shotDate}}</p>
                </div>
                <div class="artwork-description">
                  <h5><strong>Place</strong></h5>
                  <p> {{work.place}}</p>
                </div>
              </div>
            </div>
          </div>              
        </div>
        <div class="artwork-interview mt-3">
          <div class="row">
            <div class="col-xs-12 col-12-sm col-md-12">
              <div class="card p-3">
                <div class="challanges">
                  <h5><strong>Challenges</strong> </h5>
                  <p>{{interview.challenges}}</p>
                </div>                
                <div class="experience">
                  <h5><strong>Experience </strong></h5>
                  <p>{{interview.experience}}</p>
                </div>
                <div class="life-before">
                  <h5><strong>Routine prior to
                    Covid - 19</strong></h5>
                  <p>{{interview.lifeBefore}}</p>
                </div>
              </div>
            </div>
          </div>              
        </div>
      </div>
      
    </div>
  </div>
</div>
