.artwork-detail {
    min-height: 100vh;
    h3 {
        font-size: 1.5em;
        font-weight: bold;
    }
    img {
        width: 100%;
    }

    .artwork-info {
        .card-body {
          background-color: white;
          p {
            font-style: italic;
          }
        }
      }
  
      .artwork-interview { 
        .card-body {
          background-color: white;
          p {
            font-style: italic;
          }
        }
      }
}


vg-player {
    width: 100%;
  
    video {
      height: 500px;
      margin: 0 auto;
    }
  }
  