<div class="sign-in">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 p-0">
        <div class="arts-diplay">

        </div>           
      </div>
      <div class="col-md-4 p-0">
        <div class="authblock d-flex">
          <div class="sign-in-form">
            <h3 class="text-center">Sign In</h3>
            <div class="formGroup">
              <input type="text" class="formControl" placeholder="Username" [(ngModel)]="email" required>
            </div>
            <div class="formGroup mt-3">
              <input type="password" class="formControl" placeholder="Password" [(ngModel)]="password" required>
            </div>
            <div class="container-fluid p-0">
              <div class="row mt-3">
                <div class="col-6">
                  <div class="formGroup">
                    <button type="button" class="btn btnPrimary" (click)="signIn(email, password)" >Sign In</button>
                  </div>
                </div>
                <div class="col-6">
                  <div class="formGroup">
                    <button type="button" class="btn googleBtn" (click)="signInWithGoogle()" >
                      <i class="fab fa-google-plus-g"></i>
                      with Google
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="forgotPassword p-1">
              <span><a [routerLink]="['/auth/forgot-password']">Forgot Password?</a></span>
            </div>
            <div class="redirect-sign-up p-1">
              <button><span>Don't have an account?<a [routerLink]="['/auth/sign-up']">Sign Up</a></span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
