<div class="project">
  <div class="campaign-landing">
    <div class="campaign-image">
     <div class="container">
       <div class="row">        
         <div class="col-md-8">

         </div>
         <div class="col-md-4 ">
          <h3>African Resilience in the Wake of a Pandemic </h3>
         </div>
       </div>
     </div>
    </div>
  </div>
  <div class="p-0">
    <div class="mcf-foundation py-5">
      <div class="container">
        <h3 class="m-3">MASTERCARD FOUNDATION</h3>
        <hr class="hr-rule mt-1">
        <p>
          The Mastercard Foundation Public Awareness Campaign is an Information, Education and Communication (IEC)
          activity for updates and information on COVID-19 in Africa. The Mastercard Foundation works with visionary
          organizations to enable young people in Africa and in Indigenous communities in Canada to access dignified
          and fulfilling work. It is one of the largest, private foundations in the world with a mission to advance
          learning and promote financial inclusion to create an inclusive and equitable world. The Foundation was
          created by Mastercard in 2006 as an independent organization with its own Board of Directors and Management.
          For more on the Mastercard Foundation COVID-19 Recovery and Resilience Program, please visit
          <a href="https://mastercardfdn.org/covid19-recovery-resilience-program/">
            https://mastercardfdn.org/covid19-recovery-resilience-program/.</a> <strong>Follow the Foundation on
            Twitter at
            @MastercardFdn.</strong>
        </p>
      </div>
    </div>
    <!-- <div class="campaign mt-5">
        <div class="container">
          <div *ngIf="purpose">
            <h3 class="m-3">The Campaign</h3>
            <p>
              {{purposeOfCompetion()}} <strong class="showMore" (click)="lauchMoreInfoModal(purpose)">...show
                more</strong>
            </p>
          </div>
        </div>
      </div> -->

    <div class="introduction py-5">
      <div class="container">
        <div class="row">          
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 mt-5">
            <img src="assets/images/gallery/sample/picture5.png">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 mt-5">
            <h3>The CAMPAIGN</h3>
            <hr class="hr-rule mt-1">
            <div class="mt-5">
              <p>
                As part of the COVID-19 Recovery and Resilience Program, Mastercard Foundation is running a public
                awareness campaign to share timely, accurate information about the coronavirus, how it is spread, and
                how
                young people are adapting to their new reality. The Campaign seeks to enhance dissemination,
                understanding
                and uptake of public health information as a key outcome. The Campaign targets to reach the majority of
                populations, making use of multi-communication
                channels and tactics.
              </p>
              <!-- <p>
                {{purposeOfCompetion()}} <strong class="showMore" (click)="lauchMoreInfoModal(purpose)">...show
                  more</strong>
              </p> -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="goal py-5">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 mt-5">
            <h3>THE GOAL</h3>
            <hr class="hr-rule mt-1">
            <p>
              The goal is to engage young people across seven countries (Kenya, Uganda, Ethiopia,
              Rwanda, Nigeria, Ghana and Senegal) to share stories about their personal experiences navigating life
              during the global pandemic. The storytelling should take the form of photographs and videos. Bobby Pall
              Photography (The Organizer) is partnering with the Foundation on this Campaign that provides
              photographers and videographers with the opportunity to actively participate in the COVID-19 Recovery and
              Resilience Programme and to acquire international exposure when their work is published in the
              online/virtual
              gallery. By choosing to participate in this Campaign, the Entrant agrees to the following official
              guidelines and rules, which create a contract between him/her and the Organizer. The theme of the
              photography and videography campaign is: ‘African Resilience in the Wake of a Pandemic’.
            </p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 mt-5">
            <img src="assets/images/gallery/sample/picture11.jpg">
          </div>
        </div>       
      </div>
    </div>

    <!-- <div class="spotlight mt-5">
        <div class="container">
          <p class="display-4 mb-5 text-center">The Spotlight</p>
          <div class="spotlight-video">
            <vg-player (onPlayerReady)="onPlayerReady($event)">
              <vg-buffering></vg-buffering>
              <vg-controls>
                <vg-play-pause></vg-play-pause>
                <vg-playback-button></vg-playback-button>
                <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
                <vg-scrub-bar>
                  <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                  <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                </vg-scrub-bar>
                <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
                <vg-mute></vg-mute>
                <vg-volume></vg-volume>
                <vg-fullscreen></vg-fullscreen>
              </vg-controls>
              <video #media [vgMedia]="media" [src]="video" id="singleVideo" preload="auto" crossorigin>
              </video>
            </vg-player>
          </div>
        </div>
      </div> -->

    <div class="terms container py-5">
      <div class="card">
        <h3>PRIVACY POLICY</h3>
        <hr class="hr-rule mt-1">
        <p class="text-center mt-3">
          Please read the guidelines and rules carefully before submitting your entry
        </p>
      </div>
      <div class="privacy">
        <div class="mt-3">
          <p>
            This privacy policy applies to everyone who wishes to participate in this Campaign. This privacy
            policy explains how the Organizer will use the submitted personal data, such as names or e-mail
            addresses (Personal Data) and how your privacy will be protected. It is the responsibility of the Organizer
            to
            ensure that your Personal Data is handled with due care. The Organizer will neither sell nor trade your
            Personal
            Data nor infringe your personal rights in any way. If you register to participate in the Campaign, you
            disclose your Personal Data. This Personal Data will only be collected, processed and used for the purpose
            of
            organizing the Campaign, or informing you about the COVID-19 Public Awareness Campaign, or making a payment
            to
            you (if you are selected as a finalist), in accordance with this Privacy Policy.

            The Organizer will not use the contact details for other private or commercial purposes, e.g.
            for promotional purposes especially, but not limited to, unrequested and uninvited advertising by email, or
            to
            be contacted by mail. The Organizer will collect, process and use the Personal Data provided in the
            Registration
            Form and Payment Details Form.

            As a condition of participating in the Campaign, each Entrant gives consent for the Organizer to
            obtain and deliver his or her name, address and other information to third parties for the purpose of
            administering and organizing the Campaign and to comply with applicable laws, regulations and rules.

            The Organizer will comply with all privacy and data protection laws applicable to its processing
            of Personal
            Data.

          </p>
          <h3 class="text-center dis">AGREEMENTS, CHANGES TO DATES AND DEADLINES</h3>
          <p>
            These Submission Guidelines and Rules are the only agreement between the Entrant and the
            Organizer, and that
            is why the submission of any entry, within its scope, expresses acceptance by the Entrant of the
            terms and
            conditions stipulated herein.

            The deadlines and dates set out in these Submission Guidelines and Rules may be amended by
            decision of the
            Organizer. Any change will be notified through the website: <a
              href="https://africanartincontext.com/">africanartincontext.com</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
