<div class="project" (window:resize)="onResize($event)">
  <div class="campaign-landing" [ngStyle]="{'background-image':'url('+backgroundImage+')', 
  'background-repeat': 'no-repeat', 'background-attachment': 'fixed', 
  'background-size': 'cover'}">
    <div class="campaign-image">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-7">

          </div>
          <div class="col-xs-12 col-sm-12 col-md-5">
            <div class="call-theme p-4">
              <h1 class="title">EVERYDAY, AFRICA IS OVERCOMING COVID-19 TO EMERGE MORE RESILIENT</h1>
              <h1 class="sub-title">THIS IS OUR STORY</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="stories-bg py-5">
    <div class="stories">
      <div class="container">
        <h3 class="m-3">STORIES</h3>
        <hr class="hr-rule mt-1">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 mt-3">
            <div class="story p-3">
              <div class="card">
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="story-img">
                      <img src="{{storyOne}}" alt="">
                      <!-- <img src="assets/images/gallery/sample/story1.png" /> -->
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-3">
                    <div class="stories-info">
                      <p>"Colonialism, civil wars, drought, Malaria, Ebola, HIV, we have seen it all! Africans will also
                        conquer COVID-19 because resilience is part of our DNA"
                      </p>
                      <div class="photo-by p-1">
                        <p class="mb-0">Name: John Otieno</p>
                        <p class="mb-0">Location: Limuru, Kenya.</p>
                        <p>Photography: Bobby Pall</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6  mt-3">
            <div class="story p-3">
              <div class="card">
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="story-img">
                      <img src="{{storyTwo}}" alt="">
                      <!-- <img src="assets/images/gallery/sample/story2.jpg" /> -->
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-3">
                    <div class="stories-info">
                      <p>“Made for Africa by Africans. We too have standards! Africa has customized masks for her
                        children."
                      </p>
                    </div>
                    <div class="photo-by p-1">
                      <p class="mb-0">Name: Stephen Maswili</p>
                      <p class="mb-0">Location: Limuru, Kenya.</p>
                      <p class="mb-0">Photography: Bobby Pall</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tell mt-5 ">
          <button class="btn btn-primary" [routerLink]="['/create-profile']">TELL US YOUR STORY </button>
        </div>
      </div>
    </div>
  </div>

  <div class="sample-images py-5">
    <div class="artistic-images">
      <h3 class="mt-5">FEATURED PHOTOS</h3>
      <hr class="hr-rule mt-1">
      <div class="container" *ngIf="images">
        <div class="row pr-3">
          <div class="col-xs-12 col-sm-12 col-md-8 pr-0 mt-3">
            <div class="card">
              <img src="{{bigPhoto}}" alt="bobby pall photography women during covid" title="woman pandemic">
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4 pr-0">
            <div class="row">
              <div class="col-12 mt-3">
                <div class="card">
                  <img src="{{images[0]}}" alt="bobby pall photography resilience artist "
                    title="artist during covid19">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 mt-3">
                <div class="card">
                  <img src="{{images[6]}}" alt="bobby pall sharing stories during pandemic " title="mothers covid19">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row pr-3">
          <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-2 pr-0 mt-3">
            <div class="card">
              <img src="{{images[2]}}" alt="bobby pall social distance during covid 19 "
                title="social distance pandemic">
            </div>
          </div>
          <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-2 pr-0 mt-3">
            <div class="card">
              <img src="{{images[3]}}" alt="bobby pall sharing challenges during pandemic "
                title="home schooling during pandemic">
            </div>
          </div>
          <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-2 pr-0 mt-3">
            <div class="card">
              <img src="{{images[1]}}" alt="bobby pall restaurants during pandemic" title="chef covid 19">
            </div>
          </div>
          <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-2 pr-0 mt-3">
            <div class="card">
              <img src="{{images[5]}}" alt="house during covid 19 " title="life in pandemic">
            </div>
          </div>
          <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-2 pr-0 mt-3">
            <div class="card">
              <img src="{{images[4]}}" alt="bobby pall sharing challenges during pandemic "
                title="home schooling during pandemic">
            </div>
          </div>
          <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-2 pr-0 mt-3">
            <div class="card">
              <img src="{{images[7]}}" alt="bobby pall life during pandemic " title="hygiene covid 19">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
