<div class="project" (window:resize)="onResize($event)">
  <div class="campaign-landing">
    <div class="campaign-image">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-7">

          </div>
          <div class="col-xs-12 col-sm-12 col-md-5">
            <div class="call-theme p-5">
              <h3 class="title">Everyday, Africa is overcoming COVID-19 to emerge
                more resilient. <strong>This is our story</strong></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="stories-bg py-5">
    <div class="stories">
      <div class="container">
        <h3 class="m-3">STORIES</h3>
        <hr class="hr-rule mt-1">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 mt-3">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 col-xl-8 mt-3">
                <div class="story-img">
                  <img src="assets/images/gallery/sample/story1.png" />
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mt-3">
                <div class="stories-info">
                  <p>"Colonialism, civil wars, drought, Malaria, Ebola, HIV, we have seen it all! Africans will also
                    conquer Covid-19 because resilience is part of our DNA"
                  </p>
                </div>
              </div>
            </div>
            <div class="photo-by text-right p-1">
              <p>Photography: Bobby Pall</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 mt-3">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 col-xl-8 mt-3">
                <div class="story-img">
                  <img src="assets/images/gallery/sample/story2.jpg" />
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mt-3">
                <div class="stories-info">
                  <p>“Made for Africa by Africans. We too have standards! Africa has customized masks for her children."
                  </p>
                </div>
              </div>
            </div>
            <div class="photo-by text-right p-1">
              <p>Photography: Bobby Pall</p>
            </div>
          </div>
        </div>
      </div>
      <div class="tell mt-5 ">
        <button class="btn btn-primary" [routerLink]="['/project/create-profile']">TELL US YOUR STORY </button>
      </div>
    </div>
  </div>

  <div class="sample-images py-5">
    <div class="artistic-images">
      <h3 class="mt-5">FEATURED PHOTOS</h3>
      <hr class="hr-rule mt-1">
      <div class="container">
        <div class="row pr-3">
          <div class="col-xs-12 col-sm-12 col-md-8 pr-0 mt-3">
            <div class="card">
              <img src="assets/images/gallery/sample/picture18.JPG" alt="">
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4 pr-0">
            <div class="row">
              <div class="col-12 mt-3">
                <div class="card">
                  <img src="assets/images/gallery/sample/picture16.JPG" alt="">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 mt-3">
                <div class="card">
                  <img src="assets/images/gallery/sample/4c.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row pr-3">
          <div class=" col-xs-12 col-sm-6 col-md-3 pr-0 mt-3">
            <div class="card">
              <img src="assets/images/gallery/sample/picture8.png" alt="">
            </div>
          </div>
          <div class=" col-xs-12 col-sm-6 col-md-3 pr-0 mt-3">
            <div class="card">
              <img src="assets/images/gallery/sample/poster7.jpg" alt="">
            </div>
          </div>
          <div class=" col-xs-12 col-sm-6 col-md-3 pr-0 mt-3">
            <div class="card">
              <img src="assets/images/gallery/sample/picture14.jpg" alt="">
            </div>
          </div>
          <div class=" col-xs-12 col-sm-6 col-md-3 pr-0 mt-3">
            <div class="card">
              <img src="assets/images/gallery/sample/picture13.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
