<div class="vr-gallery">
  <a-scene cursor='rayOrigin: mouse'>

    <!-- Splash Screen -->
    <div class="splash" [style.display]="splash">
      <div class="splash__card p-y">
        <div class="title text-center">
          <h1>African Art In Context <br> Virtual Gallery</h1>
        </div>
        <p>You can move around with W-A-S-D keys (desktop), by tapping the screen 
          (mobile) or with the button on your Google Cardboard.</p>
        <button class="splash__button" (click)="exitSplashDisplay()">Enter</button>
      </div>
    </div>


    <!-- Load Assets -->
    <a-assets>
      <!-- global -->
      <img id="floor" src="assets/images/other/tiles.png">
      <img id="wall" src="assets/images/other/wall-concrete.jpg">
      <img id="wall-secret" src="assets/images/other/wall-concrete-secret.jpg">
      <img id="wall-brick" src="assets/images/other/brick.jpg">
      <img id="room-sign-1" src="assets/images/other/room-sign-1.png">
      <img id="room-sign-2" src="assets/images/other/room-sign-2.png">
      <img id="sky" src="assets/images/other/wall-concrete.jpg">
      <!-- team -->
      <div *ngIf="images">
        <img id="example0" src="{{images[0]}}">
        <img id="example1" src="{{images[1]}}">
        <img id="example2" src="{{images[2]}}">
        <img id="example3" src="{{images[3]}}">
        <img id="example4" src="{{images[4]}}">
        <img id="example5" src="{{images[5]}}">
        <img id="example6" src="{{images[6]}}">
        <img id="example7" src="{{images[7]}}">
        <img id="example8" src="{{images[8]}}">
        <img id="example9" src="{{images[9]}}">
        <img id="example10" src="{{images[10]}}">
        <img id="example11" src="{{images[11]}}">
        <img id="example12" src="{{images[12]}}">
        <img id="example13" src="{{images[13]}}">
        <img id="example14" src="{{images[14]}}">
        <img id="example15" src="{{images[15]}}">
        <img id="example" src="{{images[16]}}">

      </div>

      <video id="theaterVideo" autoplay loop="true" webkit-playsinline playsinline src="{{video}}"></video>
      <img id="theater-curtains" src="assets/images/theater/curtains.png">
      <a-asset-item id="couch-obj" src="assets/images/theater/couch/model.obj"></a-asset-item>
      <a-asset-item id="couch-mtl" src="assets/images/theater/couch/materials.mtl"></a-asset-item>


    </a-assets>

    <!-- User / Camera -->
    <a-entity id="rig" kinema-body="radius: 0.8" movement-controls position-listener listener position="0 0 0">
      <a-entity id="player" camera="user-height: 1.5" listener look-controls="pointerLockEnabled: true"
        wasd-controls="acceleration:200" position="0 9 0">
        <a-entity cursor="fuse: true;" position="0 0 -3" material="color: black; shader: flat">
          <a-animation begin="click" easing="ease-in" attribute="scale" dur="150" fill="forwards" from="0.1 0.1 0.1"
            to="0.15 0.15 0.15"></a-animation>
          <a-animation begin="cursor-fusing" easing="ease-in" attribute="scale" dur="1500" fill="backwards"
            from="0.15 0.15 0.15" to="0.1 0.1 0.1"></a-animation>
        </a-entity>
      </a-entity>
    </a-entity>

    <a-entity id="sky" geometry="primitive: sphere; radius: 100"
      :material="src: #sky;  side:front; color:#FFF; shader:flat; npot:true'" scale="-1 1 1"></a-entity>

    <a-image position="-41.9 1.5 30" rotation="0 90 0" src="#example6" width="5" height="5" ></a-image>
    <a-image position="-41.9 1.5 20" rotation="0 90 0" src="#example7"  width="5" height="5"></a-image>
    <a-image position="-41.9 1.5 3" rotation="0 90 0" src="#example8"  width="5" height="5"></a-image>
    <a-image position="-41.9 1.5 -10" rotation="0 90 0" src="#example9"  width="5" height="5"></a-image>
    <a-image position="-41.9 1.5 -25" rotation="0 90 0" src="#example10"  width="5" height="5"></a-image>
    <a-image position="-41.9 1.5 -35" rotation="0 90 0" src="#example11"  width="5" height="5"></a-image>

    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black"
      text="color: white; align:  center; value: This text will be 4 units wide." rotation="0 90 0"
      position="-41.9 -1.5 30" scale="2.2 2.2 2.2"></a-entity>
    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black"
      text="color: white; align:  center; value: This text will be 4 units wide." rotation="0 90 0"
      position="-41.9 -1.5 20" scale="2.2 2.2 2.2"></a-entity>
    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black"
      text="color: white; align:  center; value: This text will be 4 units wide." rotation="0 90 0"
      position="-41.9 -1.5 3" scale="2.2 2.2 2.2"></a-entity>
    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black"
      text="color: white; align:  center; value: This text will be 4 units wide." rotation="0 90 0"
      position="-41.9 -1.5 -10" scale="2.2 2.2 2.2"></a-entity>
    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black"
      text="color: white; align:  center; value: This text will be 4 units wide." rotation="0 90 0"
      position="-41.9 -1.5 -25" scale="2.2 2.2 2.2"></a-entity>
    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black"
      text="color: white; align:  center; value: This text will be 4 units wide." rotation="0 90 0"
      position="-41.9 -1.5 -35" scale="2.2 2.2 2.2"></a-entity>

    <a-image position="38.9 1.5 30" rotation="0 -90 0" src="#example0"  width="5" height="5"></a-image>
    <a-image position="38.9 1.5 20" rotation="0 -90 0" src="#example1"  width="5" height="5"></a-image>
    <a-image position="38.9 1.5 3" rotation="0 -90 0" src="#example2"  width="5" height="5"></a-image>
    <a-image position="38.9 1.5 -10" rotation="0 -90 0" src="#example3"  width="5" height="5"></a-image>
    <a-image position="38.9 1.5 -25" rotation="0 -90 0" src="#example4"  width="5" height="5"></a-image>
    <a-image position="38.9 1.5 -35" rotation="0 -90 0" src="#example5"  width="5" height="5"></a-image>

    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black"
      text="color: white; align:  center; value: This text will be 4 units wide." rotation="0 -90 0"
      position="38.9 -1.5 30" scale="2.2 2.2 2.2"></a-entity>
    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black"
      text="color: white; align:  center; value: This text will be 4 units wide." rotation="0 -90 0"
      position="38.9 -1.5 20" scale="2.2 2.2 2.2"></a-entity>
    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black"
      text="color: white; align:  center; value: This text will be 4 units wide." rotation="0 -90 0"
      position="38.9 -1.5 3" scale="2.2 2.2 2.2"></a-entity>
    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black"
      text="color: white; align:  center; value: This text will be 4 units wide." rotation="0 -90 0"
      position="38.9 -1.5 -10" scale="2.2 2.2 2.2"></a-entity>
    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black"
      text="color: white; align:  center; value: This text will be 4 units wide." rotation="0 -90 0"
      position="38.9 -1.5 -25" scale="2.2 2.2 2.2"></a-entity>
    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black"
      text="color: white; align:  center; value: This text will be 4 units wide." rotation="0 -90 0"
      position="38.9 -1.5 -35" scale="2.2 2.2 2.2"></a-entity>


    <a-image position="37 1.5 -14.9" rotation="0 -180 0" src="#example12"  width="5" height="5"></a-image>
    <a-image position="20 1.5 -14.9" rotation="0 -180 0" src="#example13"  width="5" height="5"></a-image>
    <a-image position="-30 1.5 -14.9" rotation="0 -180 0" src="#example14"  width="5" height="5"></a-image>
    <a-image position="-37 1.5 -14.9" rotation="0 -180 0" src="#example15"  width="5" height="5"></a-image>

    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black"
      text="color: white; align:  center; value: This text will be 4 units wide." position="37 -1.5 -14.9"
      scale="2.2 2.2 2.2"></a-entity>
    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black"
      text="color: white; align:  center; value: This text will be 4 units wide." position="20 -1.5 -14.9"
      scale="2.2 2.2 2.2"></a-entity>
    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black"
      text="color: white; align:  center; value: This text will be 4 units wide." position="-30 -1.5 -14.9"
      scale="2.2 2.2 2.2"></a-entity>
    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black"
      text="color: white; align:  center; value: This text will be 4 units wide." position="-37 -1.5 -14.9"
      scale="2.2 2.2 2.2"></a-entity>



    <a-entity position="-3 1.5 16.5">
      <!-- Back wall -->
      <a-video src="#theaterVideo" width="10" height="8" position="0 0 -4.4"></a-video>
      <!-- <a-image position="0 0 -4.4" src="#theater-curtains" height="12" width="9"></a-image> -->
      <!-- objects -->
      <!-- <a-entity obj-model="obj: #couch-obj; mtl: #couch-mtl" position="0 -6 1" rotation="0 0 0" scale="2 2 2">
      </a-entity> -->
    </a-entity>

    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black"
      text="color: white; align:  center; value: This text will be 4 units wide." position="4.5 4 12.2"
      scale="2.2 2.2 2.2">
    </a-entity>

    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black"
      text="color: white; align:  center; value: This text will be 4 units wide." position="4.5 3.5 12.2"
      scale="2.2 2.2 2.2"></a-entity>

    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black"
      text="color: white; align:  center; value: This text will be 4 units wide." position="4.5 3 12.2"
      scale="2.2 2.2 2.2"></a-entity>

    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black"
      text="color: white; align:  center; value: This text will be 4 units wide." position="4.5 2.5 12.2"
      scale="2.2 2.2 2.2"></a-entity>

    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black"
      text="color: white; align:  center; value: This text will be 4 units wide." position="4.5 2 12.2"
      scale="2.2 2.2 2.2"></a-entity>

    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black"
      text="color: white; align:  center; value: This text will be 4 units wide." position="4.5 1.5 12.2"
      scale="2.2 2.2 2.2"></a-entity>

    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black"
      text="color: white; align:  center; value: This text will be 4 units wide." position="4.5 1 12.2"
      scale="2.2 2.2 2.2"></a-entity>

    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black"
      text="color: white; align:  center; value: This text will be 4 units wide." position="4.5 0.5 12.2"
      scale="2.2 2.2 2.2"></a-entity>

    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black"
      text="color: white; align:  center; value: This text will be 4 units wide." position="4.5 0 12.2"
      scale="2.2 2.2 2.2"></a-entity>

    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black"
      text="color: white; align:  center; value: This text will be 4 units wide." position="4.5 -0.5 12.2"
      scale="2.2 2.2 2.2"></a-entity>

    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black"
      text="color: white; align:  center; value: This text will be 4 units wide." position="4.5 -1 12.2"
      scale="2.2 2.2 2.2"></a-entity>


    <a-image position="37 1.5 -41.9" rotation="0 -180 0" src="#example"  width="5" height="5"></a-image>
    <a-image position="20 1.5 -41.9" rotation="0 -180 0" src="#example"  width="5" height="5"></a-image>
    <a-image position="-30 1.5 -41.9" rotation="0 -180 0" src="#example"  width="5" height="5"></a-image>
    <a-image position="-37 1.5 -41.9" rotation="0 -180 0" src="#example"  width="5" height="5"></a-image>

    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black"
      text="color: white; align:  center; value: This text will be 4 units wide." position="37 -1.5 -41.9"
      scale="2.2 2.2 2.2"></a-entity>
    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black"
      text="color: white; align:  center; value: This text will be 4 units wide." position="20 -1.5 -41.9"
      scale="2.2 2.2 2.2"></a-entity>
    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black"
      text="color: white; align:  center; value: This text will be 4 units wide." position="-30 -1.5 -41.9"
      scale="2.2 2.2 2.2"></a-entity>
    <a-entity geometry="primitive: plane; height: auto; width: 2;" material="color: black"
      text="color: white; align:  center; value: This text will be 4 units wide." position="-37 -1.5 -41.9"
      scale="2.2 2.2 2.2"></a-entity>

    <!-- Ground -->
    <a-plane id="ground" position="-1 -4 -1" static-body material="src: #floor; repeat: 15 15"
     height="84" width="84" rotation="-90 0 0">
    </a-plane>
    <!-- Walls (used by map.js -->)
    <a-entity id="walls"></a-entity>
    <!-- <a-sky color="#ffffff"></a-sky> -->
    <a-plane position="0 6.5 0" rotation="90 0 0" height="84" width="84" static-body
      material="src: #floor; repeat: 15 15">
    </a-plane>
  </a-scene>
</div>
