/* You can add global styles to this file, and also import other style files */
// @import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@import 'assets/atrium-styles/atrium-theme';
@import "~bootstrap/dist/css/bootstrap.css";
// @import 'assets/atrium-styles/create';
// @import 'assets/atrium-styles/progress';
// // @import 'assets/atrium-styles/navbar';
// @import 'assets/atrium-styles/sidebar';
// @import 'assets/atrium-styles/archives';
// @import 'assets/atrium-styles/sign-in';
// @import 'assets/atrium-styles/sign-up';
// @import 'assets/atrium-styles/exhibition';
// @import 'assets/atrium-styles/dashboard';
// @import 'assets/atrium-styles/gallery-site';
// @import 'assets/atrium-styles/call';
// @import 'assets/atrium-styles/submit-works';
// @import 'assets/atrium-styles/score';
// @import 'assets/atrium-styles/artworks';
// @import 'assets/atrium-styles/admin';


body {
  margin: 0;
  font-size: 16px;
  font-family: 'Spectral', serif;
  color: black;

  h3 {
    font-size: 3em;
    font-weight: bolder;
  }
}

footer {
  background-color: #1b1b1b;

  img {
    margin: 0 auto;
    width: 100px;
  }
}

mat-dialog-container#modal-component {
  background-color: white;
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  max-width: none !important;
}

.modal-dialog-full-width {
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  max-width: none !important;

}

.modal-content-full-width {
  height: auto !important;
  min-height: 100% !important;
  border-radius: 0 !important;
  background-color: #ececec !important
}
