<div class="vr-gallery">
  <a-scene cursor='rayOrigin: mouse' videoplayer>

    <!-- Load Assets -->
    <a-assets>
      <!-- global -->
      <img id="floor" src="assets/images/other/tiles.jpg">
      <img id="ceiling" src="assets/images/other/ceiling.jpg">
      <img id="wall" src="assets/images/other/wall-concrete.jpg">
      <img id="wall-secret" src="assets/images/other/wall-concrete-secret.jpg">
      <img id="wall-brick" src="assets/images/other/brick.jpg">
      <img id="room-sign-1" src="assets/images/other/room-sign-1.png">
      <img id="room-sign-2" src="assets/images/other/room-sign-2.png">
      <img id="sky" src="assets/images/other/wall-concrete.jpg">
      <!-- team -->

      <video id="theaterVideo" autoplay preload="true" loop="true" src="{{video}}" crossorigin=anonymous></video>

    </a-assets>

    <!-- User / Camera -->
    <a-entity id="player" camera="user-height: 1.6" wasd-controls="acceleration: 200" look-controls mouse-cursor
      listener position="0 9 0"></a-entity>



    <a-video src="#theaterVideo" videoplayer visible="true" autoplay="true" webkit-playsinline playsinline
      position="-1 1.5 -11.5" width="10" height="8">
    </a-video>


    <!-- Ground -->
    <a-plane id="ground" position="-2 -11 -1" static-body material="src: #floor; repeat: 30 30" height="85" width="85"
      rotation="-90 0 0">
    </a-plane>
    <!-- Walls (used by map.js -->)
    <a-entity id="walls"></a-entity>
    <!-- Ceiling     -->
    <a-plane position="-2 14.5 -1" rotation="90 0 0" height="85" width="85" static-body
      material="src: #ceiling; repeat: 10 10">
    </a-plane>
  </a-scene>
</div>