<div class="modal-data-viewer">
  <div *ngIf="artwork.type == 'image'">
    <img src="{{artwork.url}}" alt="">
  </div>
  <div *ngIf="artwork.type == 'video'">
    <vg-player (onPlayerReady)="onPlayerReady($event)">
      <vg-buffering></vg-buffering>
      <vg-controls>
        <vg-play-pause></vg-play-pause>
        <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
        <vg-fullscreen></vg-fullscreen>
      </vg-controls>
      <video #media [vgMedia]="media" [src]="artwork.url" id="singleVideo" preload="auto" crossorigin>
      </video>
    </vg-player>
  </div>
  <div *ngIf="consentForm">
    <pdf-viewer [src]="consentForm" [original-size]="false"></pdf-viewer>
  </div>
</div>
