<div class="add-artwork" (window:resize)="onResize($event)">
  <div class="artwork-bg">
    <div class="container-fluid" [style.width.%]="formWidth">
      <div class="artwork-form py-5">
        <form #thirdForm="ngForm">
          <div>
            <div class="card p-3 mt-3">
              <div class="form-group">
                <label>Challenges</label>
                <textarea [(ngModel)]="extraDetails.challenges" #challenges="ngModel" maxlength="150" required
                  class="form-control" name="challenges" id="challenges" rows="3"></textarea>
                  <small class="help-text">What are some of the challenges you encountered
                    in the process of taking the photo(s)/video?</small>
              </div>
            </div>

            <div class="card p-3 mt-3">
              <div class="form-group">
                <label>Experience</label>
                <textarea [(ngModel)]="extraDetails.experience" #experience="ngModel" maxlength="150" required
                  class="form-control" name="experience" id="experience" rows="3"></textarea>
            
                <small class="help-text">Tell us your experience in the process of taking this
                  video/photo</small>
              </div>
            </div>
            <div class="card p-3 mt-3">
              <div class="form-group">
                <label>Prior to Covid - 19</label>
                <textarea [(ngModel)]="extraDetails.lifeBefore" #lifeBefore="ngModel" maxlength="150" required
                  class="form-control" name="lifeBefore" id="lifeBefore" rows="3"></textarea>
                  <small class="help-text">Please describe to us your normal routine prior to Covid - 19</small>
              </div>
            </div>
          </div>

          <div class="confirm-terms mt-3">
            <div class="container-fluid ">
              <div class="form-check">
                <p>Please check the boxes below:</p>
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" name="read" (change)="checkReadTermsValue()"
                    value="checked">
                  <p>I have read the Submission Guidelines and Rules (including the copyright conditions)
                    below and
                    agree to
                    the terms and conditions of the photo(s) and video call for submission.</p>
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" name="terms" (change)="checkReadPrivacy()"
                    value="checked">
                  <p>I have read the Submission Guidelines and Rules (including the copyright conditions)
                    below and
                    agree to
                    the terms and conditions of the photo(s) and video call for submission.</p>
                </label>
              </div>
            </div>
          </div>
          <div class="next">
            <div class="form-group mt-3">
              <!-- <div class="progress">
                <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                  [style.width]="(uploadProgress | async) + '%'" [attr.aria-valuenow]="(uploadProgress | async)" aria-valuemin="0"
                  aria-valuemax="100">
                </div>
              </div>                   -->
              <button [disabled]="disabled" (click)="onSubmit()" class="btn btn-primary">Proceed
                to submit</button>
            </div>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>
