.contact {
  min-height: 100vh;
  max-height: 100vh;
  background-image: url('/assets/images/gallery/sample/picture7.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: auto;
  max-height: 100vh;


  .message-form {
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);

    .card {
        background-color: rgba(0, 0, 0, 0.6);
        padding: 1em;
        border: none;
        color: whitesmoke;
        border-radius: 1em;  
       
      }

    input,
     textarea {
      background-color: rgba(0, 0, 0, 0.9);
      border-radius: 0.5em;
      border-color: teal;
      color: white;
    }

    button {
        width: 100%;
        background: teal;
    }

  }
}



@media (max-width: 300px) {
    .contact {
      .message-form {
        .container-fluid {
          width: 100%;
        }
      }
    }
  }
  
  @media (max-width: 400px) {
    .contact {
      .message-form {
        .container-fluid {
          width: 100%;
        }
      }
    }
  }
  
  
  @media (max-width: 700px) {
    .contact {
      .message-form {
        .container-fluid {
          width: 100%;
        }
      }
    }
  }
  
  
  @media (max-width: 800px) {
    .contact {
        h3 {
            font-size: 1.5em;
        }
      .message-form {
        .container-fluid {
          width: 100%;
        }
      }
    }
  }