<div class="app-wrapper">
  <!-- <div class="app-wrapper">
    <div class="main-panel" id="main-panel">
      <div class="navbar-wrapper ">
        <app-navbar></app-navbar>
      </div>
      <div class="main-wrapper mt-3 px-3 ">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div> -->

  <mat-toolbar class="header px-5 fixed-top" [class.hide-nav]="hideNav">
    <!-- <span class="nav-tool-items">
      <mat-icon (click)="sidenav.toggle()"   class="p-3 m-3 ">menu</mat-icon>
    </span> -->
    <img src="assets/images/gallery/logo.png" alt="">
    <span class="menu-spacer"></span>
    <a class="mx-1 px-3 " [routerLink]="['/project/about']">
      This Project
    </a>
    <a class="mx-1 px-3 " [routerLink]="['/project/call']">
      This Call
    </a>
    <!-- <a class="mx-1 px-3 " [routerLink]="['/project/featured']">
      Featured Works
    </a> -->
  
    <!-- <a class="mx-3"  [routerLink]="['/project/tips']">
      Tips
    </a> -->
  
    <!-- <div *ngIf="role == 'artist'"> -->
      <button class="btn btn-outline-info px-3 ml-3 " (click)="goToSubmitArtworks()">Submit</button>
    <!-- </div> -->
  
  </mat-toolbar>
<mat-sidenav-container>
  <!-- Sidenav -->
  <mat-sidenav #sidenav [mode]="hide ? 'side' : 'over'" [(opened)]="opened">
    <div class="brand">

    </div>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/project/about']">
        This Project
      </a>
      <a mat-list-item [routerLink]="['/project/call']">
        The Call
      </a>
      <!-- <a mat-list-item [routerLink]="['/project/featured']">
        Featured Works
      </a> -->
      <!-- <a mat-list-item [routerLink]="['/project/tips']">
        Tips
      </a> -->
      <a class="btn btn-outline-info m-3 " (click)="goToSubmitArtworks()">Submit</a>

    </mat-nav-list>
  </mat-sidenav>

  <!-- Main content -->
  <mat-sidenav-content class="main-wrapper">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

</div>