<div class="app-wrapper">
  <div class="app-wrapper">
    <div class="main-panel" id="main-panel">
      <div class="navbar-wrapper ">
        <app-navbar></app-navbar>
      </div>
      <div class="main-wrapper">
        <router-outlet></router-outlet>
        <footer>
          <div class="container-fluid">
            <div class="footer-info">
              <!-- <div class="mcf_logo">
                <img src="assets/images/mcf_logo.png" alt="">
              </div> -->
              <div class="info mt-4">
                <p class="sponsorship"> A partnership with Mastercard Foundation</p>
                <p class="theme">Copyright ©2020 African Art In Context</p>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </div>
</div>
